[2016-06-14 21:58] emersion opened #19 "Do not show menubar"

[2016-06-14 22:11] BeatPlus commented on #19
The unreleased version does hide the menubar by default, allowing the user to toogle it by clicking ALT.
See **app/index.js**, `autoHideMenuBar: true`

[2016-06-14 22:11] #19 closed

[2016-07-26 07:51] probonopd opened #43 "AppImage for Linux"
Would you be interested to provide an [AppImage](http://appimage.org/) for Linux? electron-builder now has support for it that [makes it really easy](https://github.com/electron-userland/electron-builder/issues/504#issuecomment-233170607) to do.

[2016-07-30 19:09] pwnsdx opened #44 "OS X CSS hack"
Hello,

First, thanks for this wrapper! After compiling the app looked weird on OS X so I made some modifications to the CSS and it looks much more better now:

![Before](https://cloud.githubusercontent.com/assets/2057765/17272596/b71abb9e-569a-11e6-9b80-11e8dbc7ec9c.png)
Before

![After](https://cloud.githubusercontent.com/assets/2057765/17272595/b206be28-569a-11e6-8815-256400dc161b.png)
After

H

[2016-07-30 19:11] BeatPlus commented on #43
I will take a look into it, but currently I am bussy with work

[2016-07-30 19:11] #43 closed

[2016-07-30 19:34] pwnsdx commented on #44
It's only intended for OS X so this code should do the trick

[code]

[2016-07-30 19:56] BeatPlus commented on #44
It should be working right now, reopen it if needed. Thank you

[2016-07-30 21:18] pwnsdx commented on #44
Unfortunately it don't work as excepted when directly injected in the page (I have the same view as you) but it works well when I put the CSS in "Settings > Appearance > Custom theme" :/

[2016-07-30 21:25] BeatPlus commented on #44
Could you check now? I tried a workaround

[2016-07-30 21:40] pwnsdx commented on #44
There was a typo (margin) but it worked so here is the final fix:

[code]

Thanks you!

[2016-07-30 23:47] #44 closed

[2016-07-30 23:48] BeatPlus commented on #44
I just committed new changes. Thank you

[2016-09-24 19:28] Xalaxis opened #46 "View headers button does not function"
Clicking the 'view headers' button does not open the headers as expected

![image](https://cloud.githubusercontent.com/assets/12937964/18810727/618d292e-8295-11e6-9057-54c194ac79ef.png)

(Maybe hook the new tab into a popup window?)

[2016-09-25 16:59] Xalaxis opened #47 "Downloading a file does not function"
Attempting to download an attachment seems to download the attachment but it is not opened nor stored anywhere obvious.

[2016-09-27 07:41] dumle29 commented on #47
Same problem observed
Ubuntu gnome 16.04

[2016-09-28 04:42] BeatPlus commented on #47
It should download to user ´Download´ directory, code comes from ´sindresorhus/electron-dl´. It seem tlike he plugin was updated to use Save as dialog, but unfortunately I cannot commit until I get back to my country. If anyone can PR I will merge it!

[2016-09-28 04:43] BeatPlus commented on #46
I need to investigate this issue, but I cannot promise anything in the short-run. Can you provide some more info? Does it open the link in your default browser or just does nothing?

[2016-09-29 12:07] Xalaxis commented on #46
It just does nothing.

[2016-09-29 12:08] Xalaxis commented on #47
I've just double checked and it does seem to be saving to the system download directory, as you pointed out though, without a save-as dialog or even a message stating this it's a very confusing experience for the end-user.

[2016-10-08 13:25] emersion opened #48 "Bundle code from WebClient"
A problem with the webapp is that the source code is served from ProtonMail's servers, thus could be modified if ProtonMail was forced to. That would allow ProtonMail to get login and mailbox passwords.

A solution would be to bundle the webapp code from https://github.com/ProtonMail/WebClient directly in this app.

[2016-11-05 10:15] ntimo opened #49 "Mac version?"
Hi their,
I wanted to ask if you could make a mac app too? That would be awesome!

Thanks,
Timo

[2016-11-16 01:56] BeatPlus commented on #49
Hi,
Mac version can only be built from a mac or a hackintosh. I do not own a Mac so building it is not currently possible for me.
Anyone that is willing to build it and PR is welcome

[2016-11-16 01:56] #49 closed

[2016-11-16 01:58] BeatPlus commented on #48
Hi,
That would be a great idea from a security prespective, but there is a big issue; it is really complex. Implementing the webclient with electron would take so much time I do not have now.
Anyway, that should be an independent project, this repo clearly stated to be a Protonmail wrapper.

[2016-11-16 01:58] #48 closed

[2016-11-16 11:18] emersion commented on #48
You don't need to implement a WebClient since it's open-source. You just need to include https://giyhub/ProtonMail/WebClient in the build. It's really easy.

[2016-11-28 08:00] kristiyandobrev opened #50 "OSX Client doesn't remember me"
I have just noticed that the OSX client requires me to log in again every time I close the app (cmd+q). Is that an intended behavior?

[2016-12-01 09:34] braindump opened #51 "Window not moveable on OSX"
In macOS Sierra, I'm not able to move the window around by dragging the menu bar.

[2016-12-03 03:35] HaydenSD commented on #50
Yes, ProtonMail doesn't save credentials. Only a browser like Google Chrome does, and that doesn't keep the log in.

[2016-12-03 03:37] BeatPlus commented on #50
Exactly, for security reasons protonmail does not save the session, and
there is no intention to change this behavior.

El vie., 2 dic. 2016 21:35, HaydenSD <notifications@github.com> escribió:

[2016-12-03 12:53] #50 closed

[2016-12-03 14:27] HaydenSD commented on #51
I'll compile the latest version and take a look at this.

[2017-01-10 19:19] HaydenSD commented on #47
Attempting a fix for this.

[2017-01-12 12:05] #47 closed

[2017-01-12 15:38] HaydenSD commented on #47
Oh awesome, ty @BeatPlus!

[2017-01-13 11:15] BeatPlus commented on #43
The new branc (0.3.0) yet to be merged adds support for AppImage. Will build this type of package with new releases!

[2017-01-14 10:18] BeatPlus opened #53 "Blurry Windows tray icon"
Version 0.3.0.
In windows the icon on the notification bar gets blurry.
![Windows tray](http://i.imgur.com/GppMtL1.png?1)
This might be a problem with the .ico files. My screen is not retina or anything with high DPI.

@pwnsdx Do you have any experience with this?

[2017-01-14 10:21] BeatPlus commented on #51
If I am right, I believe this is because on MacOS there is no window frame, therefore no moveable. I cannot perform tests on MacOS, but if this is still a bug I will attempt to fix it.
@braindump or @HaydenSD Would you mind testing for me once I commit the fix?

[2017-01-14 10:24] BeatPlus commented on #46
This bug is caused by the singleinstance parameter set to the electron window. When clicking a button that opens a new window, instead of allowing creating a new electron instance, it either opens it externally or just does not perform anything.
I will give it a try playing with the singleinstance code.

[2017-01-14 10:50] braindump commented on #51
Sure, can do.

[2017-01-16 21:35] ajkblue opened #54 "Javascript error (Mac)"
When launching the latest version of ProtonMail Desktop I get this error:
![screen shot 2017-01-16 at 2 30 22 pm](https://cloud.githubusercontent.com/assets/9651939/21999775/ec8cdf26-dbf8-11e6-9255-606f626c4cfd.png)

[2017-01-16 23:09] #54 closed

[2017-01-16 23:09] BeatPlus commented on #54
Cons of not having a mac. Should be fixed.

[2017-02-01 21:06] cryptono opened #57 "Stay logged in"
Hi,
this is a great project. But it is a shame that I must relogin after closing the app.
Maybe the webapp could safe the login data and automatically execute the login button at startup?
Thanks!

[2017-02-03 02:21] HaydenSD commented on #57
We *could*, although the problem is that Protonmail is about security and this feature would drastically lessen it.

[2017-02-05 18:18] BeatPlus commented on #57
There could be a way to do it, but in terms of security is a no. Not even the protonmail website allows you to save sessions through cookies.

[2017-02-05 18:18] #57 closed

[2017-02-06 14:59] tnguyen commented on #51
I'm trying out the current version and i'm able to move the window by click/dragging the topmost pixel.

[2017-02-09 19:12] selfus opened #62 "Multiple Accounts"
Allow users to have multiple accounts logged in at the same time

[2017-02-15 16:08] HaydenSD commented on #62
As I have said before, Protonmail doesn't allow this feature for security reasons. :)

[2017-02-16 18:48] BeatPlus commented on #62
I reopen the issue because this does not suppose a security threat.
It is possible to allow creating a second instance by either, reopening the app or pressing a shortcut.
The main question here, is this a demanded feature?

[2017-02-16 19:57] BeatPlus commented on #51
@braindump if the last version fixes this bug, i'll proceed to close the issue

[2017-02-18 15:52] beefware commented on #62
I believe being able to login to more than one account at once would be amazing. If you added that then I would love you

[2017-02-18 16:03] kontrollanten commented on #51
@braindump @thien Can you try to pull my fork and see if it works for you? https://github.com/kontrollanten/Protonmail

[2017-02-28 22:01] kirked opened #75 "No way to turn on/off notifications"
There's no way to update the notifications settings. In Chrome it's done by clicking the certificate in the URL bar, which shows permissions for the site, including "Notifications".
-

Protonmail Desktop 0.2.0
Electron 1.4.5
darwin x64 15.6.0

[2017-03-01 02:17] Trumpy commented on #53
Same thing, icon looks funky in gnome favorite bar.

[2017-03-12 19:09] pwnsdx commented on #53
Sorry for the late response, I don't have this issue on macOS

[2017-04-24 12:10] dslul opened #87 "Adding unread mail count on traybar"
Given that this is a web app, is it possible to implement this?

[2017-04-24 16:55] BeatPlus commented on #87
You mean to display the number of unread emails on the traybar?

[2017-04-24 20:16] dslul commented on #87
Yes, is it feasible?

[2017-04-25 15:48] BeatPlus commented on #87
It might by feasible, but to my understanding electron updates the badge with a static image when a new email arrives, we would need an undefined amount of static images which might not be desired.
If there is a a better way to do this I will implement it, I will take a look into it.

[2017-04-26 09:15] kontrollanten commented on #87
@BeatPlus Isn't it supposed that updateBadge function should handle this with app.dock.setBadge()?

[code]

As far as I understand from reading the code the updateBadge function isn't ran when a new message has arrived.

[code]

Why can't we just change checkMessage function to the following?

[code]

I've tested it locally (Mac OS) and it's working brilliant. Please let me know if you want a PR f

[2017-04-26 15:23] BeatPlus commented on #87
@kontrollanten Your code seems right to me, I've been testing it and seems to work correctly.

The reason I wrote this ugly workaround was mainly because Protonmail did not implement notifications until v3.3. Due to lack of time I did not updated to the right way, it just "worked". I will happily accept your PR

[2017-04-26 19:51] kontrollanten commented on #75
As far as I understand there's no way to disable notifications in Electron. One way would be to add notifications as an option in Settings and when the user disables Notifications we just override the global window.Notifications instance. Not very beautiful but maybe okey since this app is a wrapper.

What do you say, @BeatPlus?

[2017-04-26 20:26] kontrollanten commented on #62
Isn't it possible to create a collapsible menu at the left side of the window where the user can add/switch accounts? Just like Slack. Technically this should be able to do with frames. One frame for the menu and then one iframe for each account.

[2017-04-26 20:29] #87 closed

[2017-04-26 20:39] kontrollanten opened #90 "Support for password browser extensions?"
NW.js seems to [support third part browser extensions](https://github.com/nwjs/nw.js/wiki/Third-party-browser-plugins) which should make it possible to enable 1Password, LastPass, etc. Would it be a solution to migrate this app too NW.js just to get this feature? Since the code is pretty light weight it shouldn't be that hard to migrate. But it depends on whether the users wants it or not.

[2017-04-27 23:44] kontrollanten commented on #62
I made a poc with electron-tabs extension and it seems to be working great.
<img width="991" alt="bild" src="https://cloud.githubusercontent.com/assets/6680299/25508510/dd9a9e4a-2bb2-11e7-8a98-1f9469967dd7.png">

[2017-04-28 12:07] BeatPlus commented on #62
@kontrollanten Wow! It looks great, I will take a look to your fork and see how it works. I'll create a new branch for the new features and we can work there, okay?

[2017-04-28 12:11] BeatPlus commented on #90
I do not entirely see this as a wanted feature; third part browser extensions may compromise security and complicate things a lot.
I've following both, Electron and NWJS and I do prefer Electron and its team, but is a matter of preferences. I'll remain the bug open for discussion

[2017-04-28 12:13] BeatPlus commented on #75
There is a way to disable notifications, and we can implement that on the menu. I will include this in the next version

[2017-04-28 12:23] kontrollanten commented on #62
Sounds great! I'll PR my changes during the weekend!

[2017-04-28 12:25] kontrollanten commented on #90
I agree that third part extensions may compromise security, but it's more secure to use Protonmail with third part extensions than Gmail with third part extensions.

But maybe you're right that it'll complicate things too much.

[2017-04-30 11:49] Keepco opened #92 "Build without a github token"
Hello,

I guess this is pretty trivial, but I'm still pretty new to the JS universe :)

Is it possible to build this package without a Github token? I can't seem to find anything about it on electron-builder's wiki.

[2017-05-03 20:34] BeatPlus commented on #92
Hi @Keepco,
What do you mean by building without a Github token? The process does not require any token, and signing the binary is only optional.

[2017-05-04 04:56] Keepco commented on #92
Hello,

maybe I'm just doing it wrong, but if I run 'npm install' && 'npm run release' the build process fails with 'Error: Publish is set to always, but neither GH_TOKEN nor BT_TOKEN is not set.

[2017-05-04 14:31] marcelruhf opened #95 "Build fails with Config is invalid on macOS 10.12"
The following output is displayed when running "npm run release":

--------------------------------------------------------------------------------------

[15:26:03] Using gulpfile ~/Downloads/ProtonMail/gulpfile.js
[15:26:03] Starting 'bundle'...
[15:26:03] Starting 'less'...
[15:26:03] Starting 'environment'...
[15:26:03] Finished 'environment' after 2.57 ms
[15:26:03] Finished 'bundle' after 14

[2017-05-08 16:40] #51 closed

[2017-05-08 17:52] BeatPlus commented on #95
`Electron-builder` no longer needs iconUrl, next release will have this fixed or use the develop branch

[2017-05-11 19:34] #95 closed

[2017-05-17 01:56] ahoneybun commented on #53
I have kinda the same issue in Plasma.
![screenshot_20170516_215330](https://cloud.githubusercontent.com/assets/4884946/26135265/64133c9c-3a82-11e7-8834-ce8b9132e8e3.png)

I'm guessing that the tray is not scaling it right or something. Most likely upstream.

[2017-05-27 00:21] HaydenSD commented on #90
It leaves the app open to vulnerabilities, which is an issue for me. Maybe a third party extentsion that's easily enabled?

[2017-05-27 11:14] #92 closed

[2017-06-01 14:59] HaydenSD opened #105 "Transfer repository to organization"
Hello,

I would like to start a discussion on whether or not we should move this project to it's own organization. It's grown pretty big, and I feel like everyone would benefit from an organization repository.

Tell me what you think below.

[2017-06-03 05:17] sgrjyb opened #106 "There are no 32 bits"

[2017-06-03 19:54] kontrollanten commented on #105
Hi!

It may be a good idea. I haven't worked with Github organizations before, what kind of benefits will it add?

[2017-06-03 19:55] kontrollanten commented on #106
It shouldn't be hard to add support for that. @BeatPlus, do you have any experience with 32 bit support?

[2017-06-06 10:14] BeatPlus commented on #106
I will attempt to build 32 bits binaries for the next stable release

[2017-06-06 11:56] Praethiax opened #107 "Save Username"
Hi,
I was wondering, if it would be possible to save the Username/Mail address.
I agree that saving the password is not a good idea, but in my oppinion there is no security threat with saving the Username.
I thought it would be a good idea to implement it in the multiple account branche i currently use.

[2017-06-06 14:36] BeatPlus commented on #107
Hi,
I do agree with you and we are working on a new version that saves the mail address. Nevertheless, in the future we will enable a configuration panel in order to make all these features optional.

If you want to check this feature take a look to enable-multiple-accounts branch.

[2017-06-07 20:42] ahoneybun commented on #107
Personally sounds like a feature on the main site more then this portal to it. Maybe I'm wrong?

_Sent from my Huawei Nexus 6P using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 14:56] Praethiax opened #108 "Links not openable"
Hi.
Just got a mail with a confirmation link i had to open.
It didn't work. Was this feature removed to increase security or something like that?
Or is my version just broken.
I remeber old versions just opening the link in the default browser.

[2017-06-25 13:57] kontrollanten commented on #108
Hi!

I assume this is happening in the enable-multiple-accounts branch? If yes, then it should be fixed by now :-) If no, please try it in the enable-multiple-accounts branch, if it still doesn't work just let me know which environment you're running. Thanks!

[2017-06-30 22:22] 0x4F0x770x610x690x73 opened #109 "ProtonMail Logo below Window Controls"

[2017-07-13 18:19] Praethiax commented on #108
Just updated. It's working now. Thanks.
Case closed

[2017-08-08 01:30] CHEF-KOCH opened #110 "Ability to lock the client with a password"
I wish there would be an option to lock the client on startup or after xsz time with a password. This would be useful to avoid access to your entire mail account.

[2017-08-10 05:42] kontrollanten commented on #110
That sounds like a great enhancement. It should be possible to store the password with [ node.bcrypt.js](https://github.com/ncb000gt/node.bcrypt.js/). I'll look further on this one.

[2017-08-13 22:45] kontrollanten commented on #62
It has been a long weekend. But since PR #111 this is now enabled. @beefware @selfus, get ready to try it out if you haven't. If there's anything you would like us to add, just create a new issue.

[2017-08-13 22:45] #62 closed

[2017-08-13 23:01] kontrollanten commented on #46
this should be considered as semi fixed since #111 merge. Semi by the meaning that it will open up a new window and load the URL, but the Protonmail loader wont stop spinning. I assume this is some kind of security check by Protonmail. If you've got any idea how this could be solved, feel free to open this up again.

[2017-08-13 23:01] #46 closed

[2017-08-13 23:02] kontrollanten commented on #109
Can you explain what you mean?

[2017-08-14 00:10] kontrollanten commented on #107
it's now implemented

[2017-08-14 00:10] #107 closed

[2017-08-14 19:38] kontrollanten opened #114 "Implement bug tracker"
We should implement [Sentry](https://sentry.io), or similar, to track errors and crash reports quickly. Sentry can create GH issues based on tracked errors. Which can be a great ground to build a nice user experience.

[2017-08-15 17:13] BeatPlus commented on #114
Great idea! I will take a look on how to implement Sentry

[2017-08-15 17:15] kontrollanten commented on #114
Nice! I suppose we need to make that optional though. We can make it a part of the upcoming _Settings_ view.

[2017-08-15 17:19] BeatPlus commented on #114
Definitely, it should be disabled by default _imo_

[2017-08-15 17:29] kontrollanten opened #115 "Add landing screen"
When starting the application for the first time it's just blank (except the sidebar). We should add some kind of simple landing screen that just welcomes the user.

[2017-08-15 17:46] BeatPlus commented on #115
My initial thought was to ceate a settings page with different tabs. The first tab would be the _landing screen_ with some kind of introduction (e.g. info, changelog, proton blog updates for).

[2017-08-15 17:54] kontrollanten commented on #115
I think the optimal solution would be to have something user friendly. Like "Hi and welcome to ProtonMail Desktop" and then a short intro and an arrow pointing to the "Add account" button. Just to make it crystal clear for the user how he should start using the application.

But it's a question of time. I think your approach works for now.

[2017-08-15 18:08] BeatPlus commented on #115
Mmm, that is an interesting idea. What do you think about a simple page with the logo, the add account button, Intro | Settings | About links (small at the bottom). Plain background, minimalist style.

[2017-08-15 18:12] kontrollanten commented on #115
I think it would be enough with the logo and add account button. Regarding the links you proposed I don't think Intro is necessary, and the other two can the user reach via the application menus. What do you think about that?

I'm not a designer but I can see if I can find someone at Fiverr to create a good looking (and minimalistic) landing page.

[2017-08-15 18:24] BeatPlus commented on #115
The simplest design as you suggest is the way to go.

I am not a designer either but I have some basic knowledge and I will be able to do it without problems.

[2017-08-16 19:41] BeatPlus opened #116 "[BUG] Prefill username not working on Windows"
No console output, using Win10 and latest master version

I am guessing that the event "dom-ready" activates when Protonmail loading screen appears and attempts to execute the JavaScript provided. At this time the login form did not appear yet and Electron selects an element not created yet.

I would rather avoid setting a timeout, but I could not figure out another solution. I will keep researchi

[2017-08-16 19:55] kontrollanten commented on #116
One solution could be to create an interval to watch for the element and then run the filling. Maybe not the most beautiful solutions, but I don't know any other way to go.

[2017-08-19 16:40] #116 closed

[2017-08-19 16:55] BeatPlus opened #118 "[Badge] Unread count behavior"
With https://github.com/BeatPlus/Protonmail/commit/3a62e2c5a71de492b4534484256e4a10ff0f9a25 the badge looks better but some concerns araise.

From 1 to 4 digits badge:
![Badge](http://i.imgur.com/ZnUrOcz.png)

The badge works well on 2 digits, some 3 digits look good too but >100 gets ugly. We can simply replace with 99+ or something similar so it does not break.

In addition, the badge does not a

[2017-08-19 17:17] kontrollanten commented on #118
"99+" is great!

The reason that the unread emails don't show up immediately is because of Protonmail. When you login to your account the title doesn't display unread emails until you

1) Get a new email
2) Navigate from Inbox and navigate back to Inbox

From my perspective it's a bug. I think the best would that we (and Protonmail) always display total unread count.

I can contact them regarding

[2017-08-20 19:50] BeatPlus commented on #105
The project was moved correctly to an organization, protonmail-desktop. From now on we will work this way.

[2017-08-20 19:50] #105 closed

[2017-08-20 20:12] #118 closed

[2017-08-21 15:38] HaydenSD commented on #110
This is a very good idea.

[2017-08-29 00:02] sudoyang opened #120 "Is it possible to let app start with minimized window?"
I am running the app on a ubuntu 16.04 machine.

Thanks!

[2017-08-29 04:06] kontrollanten commented on #120
I assume that would be possible if we read a parameter which you can pass if you run the app via terminal. What is the purpose of starting it minimized?

[2017-08-29 15:06] sudoyang commented on #120
I think that maybe it is a good idea if the app can store username/password and start with system, with the window minimized. It is just like a service and whenever you need it, you can bring it in front of you.

[2017-08-30 17:42] BeatPlus commented on #120
The desktop will never store user's password for security issues. I don't see how this could improve user experience

[2017-08-30 18:44] sudoyang commented on #120
got it. I thought in a different way.

[2017-08-30 20:10] #120 closed

[2017-09-01 18:36] #109 closed

[2017-09-17 08:54] AlaricReinhard opened #125 "MacOS"
Im a noob, cant figure out how to run on MacOS.

[2017-09-20 17:47] roipoussiere opened #126 "Window always open in minified mode when opening from the dock icon"
On Ubuntu 16.04

When I re-open ProtonMail from the dock icon, the window starts in minified mode in the task bar:

![](https://i.imgur.com/STXwcBl.png)

I need click again on the tab to open actually the window.

[2017-09-21 13:20] roipoussiere commented on #126
Update: the window actually opens in maximized mode, but it's always in the background, behind all other windows. So we can't see it if an other application is already running.

[2017-09-27 00:35] tugwitt opened #127 "Add Touch ID support?"
I know keeping the account logged in is a huge security hole, but I feel like Touch ID is a pretty good solution. Would love to see this added.

[2017-09-27 01:03] kontrollanten commented on #127
This is just a wrapper that runs mail.protonmail.com in Chromium, so we can't control the login flow.

[2017-09-27 01:03] #127 closed

[2017-09-29 15:21] nobicycle opened #128 "Cannot find module 'gulp-sass'"
Thanks for protonmail-desktop. I've been using it for several months but I recently did a "git pull origin". There was a small update, but now "npm start" produces
$ npm start

_**Git info:**_

[2017-09-29 17:00] kontrollanten commented on #128
Did you run `npm install` before `npm start`?

[2017-10-01 15:03] nobicycle commented on #128
Actually no. Sorry about that. But now I have and the log is here

https://paste.pound-python.org/show/LLrtRuBzS3qvZ7SFKj3y/

Starting still fails as below:
(Note I do have a package 'electron' 1.6.11 installed under Arch Linux but is was never a problem in the past with protonmail-desktop)

[2017-10-03 18:18] BeatPlus commented on #128
Could you try a clean install? It might be a problem with dependencies installation

[2017-10-07 02:20] kontrollanten commented on #125
We will soon release built packages ready to install. But if you don't want to wait, you can do the following.

Be sure to have NodeJS (I recommend version 8) installed.
[code]

[2017-10-15 11:56] BeatPlus commented on #53
With the updates of electron, the icons now look good on my Windows setup. I am closing this issue but feel free to open if still exists on other distros

[2017-10-15 11:56] #53 closed

[2017-10-15 11:58] BeatPlus commented on #115
#132 implemented this feature.

[2017-10-15 11:58] #115 closed

[2017-10-15 12:02] BeatPlus commented on #106
#137 implements 32 bit support. Next release will include 32-bits binaries

[2017-10-15 12:02] #106 closed

[2017-10-15 17:56] kontrollanten commented on #125
@AlaricReinhard You can now download the latest release for MacOS at https://github.com/protonmail-desktop/application/releases Let me know if you have any more troubles.

[2017-10-15 17:56] #125 closed

[2017-10-15 18:19] kontrollanten commented on #126
@roipoussiere Are you still experiencing this? We released a new version today with a lot of improvements. If the problem still occurs, please let me know which window manager you're running.

[2017-10-15 20:00] AlaricReinhard commented on #125
Amazing build. Needed this badly thank you!

[2017-10-16 11:03] kontrollanten commented on #108
This is still an issue in Linux. I guess shell.openExternal instead of [open](https://npmjs.com/packages/open) will solve the problem.

[2017-10-17 00:37] psmis2 opened #143 "Connect through TOR network?"
Is there a way to do it or any plans to add support for it?

[2017-10-19 22:44] kontrollanten commented on #128
Feel free to re-open this issue if you still experiencing problems. If you just want to use the application, we're now releasing binaries when new updates are available.

[2017-10-19 22:44] #128 closed

[2017-10-19 22:53] kontrollanten commented on #143
Until now we haven't talked about it. It sounds interesting. I have no experience of integrating with TOR though. https://github.com/jamesacampbell/elector seems to have done a TOR integration with Electron. We'll investigate this further when time comes :)

[2017-10-20 23:30] WatchGintama opened #146 "JS error upon second app start"
![protonmail desktop_2017-10-20_13-26-20](https://user-images.githubusercontent.com/13687535/31845274-b8c02d98-b59a-11e7-926f-3cf02260439b.png)

Javascript error when I close the window and open it again through start menu.

[2017-10-21 02:45] kontrollanten commented on #146
Thanks for your report. Is this version 0.5.1 installed from a binary?

[2017-10-21 03:27] WatchGintama commented on #146
https://github.com/protonmail-desktop/application/releases/download/v0.5.1/protonmail-desktop-setup-0.5.1.exe

Yes, this one.

[2017-10-21 14:52] vinyll opened #147 "Optional offline/searchable version"
Protonmail does not offer the possibility of using a email client (except using the beta bridge for premium users).
Right now Rambox or Franz offer Protonmail service app that are similar to the desktop version (like multiple accounts).

The dedicated desktop application could offer an alternative solution to email clients, like keeping a local readable copy for offline purpose, and eventually sea

[2017-10-23 13:26] roipoussiere commented on #126
Seems fixed, thank you!
And the new release looks awesome ;)

[2017-10-23 13:26] #126 closed

[2017-10-23 21:52] BeatPlus commented on #146
It also occurs on my W10. I will work on this

[2017-10-29 17:21] simoniz0r opened #148 "Add option to toggle left sidebar"
It would be nice if there were an option to hide the left sidebar; I use one account with Protonmail, so having the sidebar open at all times is kind of just a waste of space for me.

Thanks!

[2017-10-30 22:08] BeatPlus commented on #148
Great idea, I will implement this through a shortcut in the short-term and later in the settings panel

[2017-11-02 13:15] HaydenSD commented on #148
Like this!

[2017-11-16 05:48] Faust30000 opened #149 "The password is not remembered when the application is closed."
The application does not remember the password. If it is closed and restarted, the password must be entered again. This is very inconvenient, especially when the program is in startup.
OS: Linux

[2017-11-16 05:50] Faust30000 opened #150 "Ctrl+D doesn't work for switching theme"
In the application in the Linux version, the CTRL + D key combination does not work to change the theme.

[2017-11-16 05:58] kontrollanten commented on #149
This application doesn't handle the passwords at all. It's all managed by the ProtonMail web client. Technically it would be possible for us to store the password and auto login upon start, but that could be a security issue since we have to store the password on the computer. I think it's worth a discussion though. In my opinion it's better that people use ProtonMail and store their password on t

[2017-11-16 06:02] Faust30000 commented on #149
I think there should not be security problems. After all, ProtonMail itself supports bridge technology for the integration of mail, for example in Tunberbird. Both the password and the login are stored on the computer. But if you had the opportunity to remember the password in the application, it would be very cool. And then you have to enter a 20-digit password by launching the application.

[2017-11-16 06:06] kontrollanten commented on #149
Sounds legit. I'm not that familiar with password storage and encryption though, so I would need to do some research before starting implementing this.

What is the upside if the user anyway has to enter 20-digit password when they're launching the application?

[2017-11-16 06:17] Faust30000 commented on #149
I have a 20-character password, others probably have much less. Remember this password is very difficult, so I use KeePassXC. So this is the problem: run ProtonMail, run the password manager, copy and paste. It's simpler, of course, if ProtonMail application itself remembered the passwords. I hope you will find a solution to encrypt the storage of the password and login on the computer. Good luck!

[2017-11-16 15:10] arshubham opened #151 "Option to hide side bar (tabbar)"
or make it narrow visible on on hover.
UI inspiration can be taken from tabcenter test pilot for firefox https://github.com/bwinton/TabCenter

[2017-11-16 15:56] kontrollanten commented on #151
Duplicate of #148

[2017-11-16 15:56] #151 closed

[2017-11-25 19:14] vladimiry commented on #149
@Faust30000 I'm working on the alternative desktop client also built on top of the Electron. Encrypted settings storage, integration with KeePassXC/Keepass password manager, and some other stuff is already there, it's going to be published on GitHub soon. Though password remembering, as well as the auto-typing the master password from the password manager put you into a danger. Auto-typing passwor

[2017-12-01 18:57] Rob-Rychs opened #152 "Build failing for MacOS"
Hello,

After downloading and running `yarn install` I am unable to run `yarn run dist` from the source.

The command fails with the following error outputted in terminal.

[code]

Can someone please issue some guidance on this error? Obviously I've looked and background.js does indeed exist in src/

Your help is much appreciated.

-Protonmail backer.

[2017-12-01 19:48] kontrollanten commented on #152
Hi Rob! Is it the latest repo and without any changes?

If you just want to use the application you download the binary from our latest release

[2017-12-01 20:05] Rob-Rychs commented on #152
Yes it's the latest repo without changes.

Thanks I will look into installing from binary.

Also wanted to take a look at #149, should be possible with crypto module but up to user if they want to save pw locally...

[2017-12-01 21:42] samiahrocks commented on #149
this actually sounds like a good thing...

[2017-12-07 16:33] kontrollanten commented on #152
Okay. I'm also running OS X High Sierra 10.13.1, but it works fine. Which node and npm versions are you running? I'll look deeper into this during the weekend

[2017-12-07 17:56] Rob-Rychs commented on #152
[code]

[2017-12-08 17:35] kontrollanten commented on #152
Sorry for late response. Now I saw what's wrong. You have to build the app before packaging it. Run the following

    $ yarn build
    $ yarn dist

And it should work fine. I'll update the README to clarify this.

[2017-12-08 17:35] #152 closed

[2017-12-08 17:58] kontrollanten commented on #148
Thanks @BeatPlus for implementing this #153. It's now possible to toggle the sidebar with Ctrl + Shift + H.

[2017-12-08 17:58] #148 closed

[2017-12-08 18:00] #108 closed

[2017-12-08 18:16] kontrollanten commented on #150
It's true. It's broken since a while. We may add this later on. For now we'll remove that part from the README.

[2017-12-08 18:16] #150 closed

[2017-12-08 20:51] kontrollanten opened #159 "Refactor app to improve state and view handling"
A lot of stuff has happened since this app first was release. From being a kind of PoC as a simple webview wrapper to what we have today with multiple accounts support, notifications and upcoming settings panel. And there's also some requests regarding password storage (#149), client lock (#110), TOR integration (#143).

To keep this app scalable, maintainable and welcoming to new contributors I t

[2017-12-09 00:47] #146 closed

[2017-12-25 16:12] javaduke commented on #149
It would be really nice if it supported fingerprint authorization as an option.

[2018-01-04 20:38] vladimiry commented on #149
There is another app with password remembering support if someone wants to try a beta version https://github.com/vladimiry/protonmail-desktop-app

[2018-01-05 06:54] Faust30000 commented on #149
**Vladimiry**, will the builds for Ubuntu and its forks be compiled independently?

[2018-01-05 18:43] vladimiry commented on #149
@Faust30000 you can modify the electron-builder's list of the linux targets keeping there only needed package formats. It's also should not be a problem to extend npm scripts list assigning building specific packages to a individual scripts, I'd recommend to open an issue with use a case example if there is actual need.

[2018-01-12 16:02] shumashv1 opened #160 "JavaScript Error"
On Windows 10, version 1709, the following error occurs if you attempt to reopen the app from a shortcut while its running in the background (note that you can't tell that it's running in the background if in tablet mode):

![javascript error](https://user-images.githubusercontent.com/1964800/34884051-c72445e8-f778-11e7-8b5c-7941cef799e3.JPG)

[2018-01-12 20:07] kontrollanten commented on #160
Thanks for reporting! This should be fixed in the latest code. Are we ready to deploy that, @BeatPlus ?

[2018-01-14 12:27] BeatPlus commented on #160
Yes, latest version is ready

[2018-01-14 14:14] shumashv1 commented on #160
Thx.  I'll try it out right away.

From: Matthew
Sent: Sunday, January 14, 2018 5:27 AM
To: protonmail-desktop/application
Cc: shumashv1; Author
Subject: Re: [protonmail-desktop/application] JavaScript Error (#160)

Yes, latest version is ready
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-01-14 14:23] shumashv1 commented on #160
BTW, where's the download available?

From: shumash geely
Sent: Sunday, January 14, 2018 7:14 AM
To: protonmail-desktop/application
Subject: RE: [protonmail-desktop/application] JavaScript Error (#160)

Thx.  I'll try it out right away.

From: Matthew
Sent: Sunday, January 14, 2018 5:27 AM
To: protonmail-desktop/application
Cc: shumashv1; Author
Subject: Re: [protonmail-desktop/application] JavaSc

[2018-01-14 16:24] shumashv1 opened #161 "Relocate star/unstar toggle"
The star/unstar toggle is located right where a right-handed person touches to open an email. How about relocating it under the date?

[2018-01-14 16:26] shumashv1 commented on #161
The star/unstar toggle is located right where a right-handed person touches to open an email.  How about relocating it under the date?

[2018-01-14 22:16] kontrollanten commented on #161
Thanks for your feedback! ProtonMail Desktop is just a wrapper for the web client though, so please fill an issue at https://github.com/protonmail/webclient

[2018-01-14 22:16] #161 closed

[2018-01-14 22:17] kontrollanten commented on #160
@shumashv1 it's on it's way. The build failed earlier, but soon it should be reachable at https://github.com/protonmail-desktop/application/releases

[2018-01-14 22:30] shumashv1 commented on #160
Thx. I'll keep a lookout for it.

Larry Schuster

From: kontrollanten
Sent: Sunday, January 14, 2018 3:17 PM
To: protonmail-desktop/application
Cc: shumashv1; Mention
Subject: Re: [protonmail-desktop/application] JavaScript Error (#160)

@shumashv1 it's on it's way. The build failed earlier, but soon it should be reachable at https://github.com/protonmail-desktop/application/releases
—
You are rec

[2018-01-15 05:34] kontrollanten commented on #160
https://github.com/protonmail-desktop/application/releases/tag/v0.5.4

[2018-01-15 05:34] #160 closed

[2018-01-15 13:39] shumashv1 commented on #160
Perfect. Thx

From: kontrollanten
Sent: Sunday, January 14, 2018 10:34 PM
To: protonmail-desktop/application
Cc: shumashv1; Mention
Subject: Re: [protonmail-desktop/application] JavaScript Error (#160)

https://github.com/protonmail-desktop/application/releases/tag/v0.5.4
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-01-19 15:35] Lvaskz opened #162 "support for appimaged"
hi, i am using linuxmint 18.03, 64 bits, cinnamon. Actually i installed the appimage daemon called appimaged.
This is appimaged "appimaged is an optional daemon that watches locations like ~/bin and ~/Downloads for AppImages and if it detects some, registers them with the system, so that they show up in the menu, have their icons show up, MIME types associated, etc. It also unregisters AppImages a

[2018-01-20 04:58] kontrollanten commented on #162
Hi!

As I've understood the concept of appimaged, it's just an daemon that searches your disk for appimage files. We already releases appimage files, so this should work right now. Have you tried download it from https://github.com/protonmail-desktop/application/releases ?

[2018-01-20 05:07] Lvaskz commented on #162
yes, i did, but the problem is that the icon is missing from application menu. Appimaged recognized protonmail but not the icon, thats why I request this.

[2018-01-20 06:49] kontrollanten commented on #162
It seems that the ProtonMail Desktop application needs to add icons in the system since appimaged doesn't do this. I've done a bit of research but couldn't find any easy way to do this with electron-builder. @probonopd do you know how this can be solved?

[2018-01-20 09:56] probonopd commented on #162
The optional `appimaged` daemon extracts the icons found inside the AppImage in the `usr/share/icons/...` hierarchy, and puts them into `$HOME/.local/share` hierarchy. It also removes them again when the AppImage is removed.

Actually, the icon gets extracted correctly to

[code]

on my system, and the desktop file generated by `appimaged` reads

[code]

So everything looks correct. Please log out

[2018-01-20 10:06] probonopd commented on #162
Further analysis shows:

[code]

This is not correct. A 512x512 pixel png is expected in `usr/share/icons/default/512x512`, as the name implies.

[2018-01-20 10:09] probonopd commented on #162
Furthermore, for whatever reason, the icon does not get extracted correctly by `appimaged`, resulting in a 0 KB file:

[code]

This is most likely an `appimaged` bug.

Is there a reason why this is still a type-1 AppImage? The type-2 format is what the most recent versions of electron-builder are putting out, and it is much better supported by `appimaged`.

[2018-01-21 06:24] kontrollanten commented on #162
Thank's for your help, @probonopd. I guess it's electron-builder who decides whether it'll be a type-1 or type-2 format?

I've updated electron-builder and will remove the 512x512.png so electron-builder will use the MacOS X icon instead. Hopefully this will solve the problem.

[2018-01-21 11:32] kontrollanten commented on #162
@Lvaskz can you try do download the latest pre-release from https://github.com/protonmail-desktop/application/releases/tag/v0.5.5 and see if it works? For me the icon is displayed correctly after I've first opened the AppImage.

[2018-01-21 14:51] Lvaskz commented on #162
well, the icon appears but is some different, see it, it looks like other aplication
![proton](https://user-images.githubusercontent.com/29207169/35195352-debe7956-fe87-11e7-9e8b-769b98bdd9d5.png)

[2018-01-21 15:07] Lvaskz commented on #162
There are a mix of icon. See the task bar

[2018-01-21 23:18] probonopd commented on #162
The latest version should produce type-2.

[2018-01-22 05:49] kontrollanten commented on #162
@Lvaskz Well that's Electrons default icon. Strange. I have to look deeper into this.

[2018-01-23 07:39] kontrollanten opened #165 "Invalidate AppVeyor cache when yarn.lock is updated"
AppVeyor won't invalidate the cache, as of the current configuration, upon yarn.lock updates. For now the env var `APPVEYOR_CACHE_SKIP_RESTORE=true` is set to workaround that.

[2018-01-24 19:26] mighty-pirate opened #167 "Synchronisation with protonmail/Webclient project"
Is this project kept in sync with the protonmail/WebClient project? If I manage to get a pull request merged on that project, will it make its way into this desktop application eventually or would it be better to make the same changes to this project too?

[2018-01-24 19:42] mighty-pirate opened #168 "No focus when switching windows"
When switching away from the application, then back; the browser doesn't seem to have focus and needs to be clicked with the mouse or tab pressed 3 times so hotkeys can be used or the command palette activated. I think this is because the accounts sidebar is getting the focus on window activation.

[2018-01-25 03:22] kontrollanten commented on #167
This project is just wrapping the WebClient within a Chromium instance. So if you manage to get something merged there, it will appear here also.

What kind of changes are you thinking of?

[2018-01-25 04:08] kontrollanten commented on #168
Thanks for your input!

There's a PR for this here https://github.com/protonmail-desktop/application/pull/169

Hopefully we can merge it this week.

[2018-01-25 07:05] BeatPlus commented on #168
I will review this and merge if possible by Saturday

El jue., 25 ene. 2018 5:09, kontrollanten <notifications@github.com>
escribió:

[2018-01-25 08:35] mighty-pirate commented on #167
Ok, that's great. Just looking to add hot keys for emptying the spam, trash and maybe drafts too.

[2018-01-25 09:52] mighty-pirate commented on #168
Ok, great. Thanks a lot.

[2018-02-01 19:23] mighty-pirate commented on #168
I've tried the new version and the browser is keeping focus. Thanks so much 👍

[2018-02-01 19:23] #168 closed

[2018-03-03 20:54] SkyzohKey commented on #159
For state management I personally recommend Redux (+ redux-thunk, redux-persist & redux-offline). It is super popular thus the entry barrier is low. And it has pretty much everything you listed there. Also, what about React for the View renderer? It does performs well on Facebook' scale apps so.. If the following stack is used, I'll try to contribute ;)

[2018-03-03 21:00] SkyzohKey commented on #147
This would need to be implemented into Protonmail itself by using LocalStorage and other offline related features (manifests, etc). Protonmail desktop cannot implement this I guess.

[2018-03-03 21:01] SkyzohKey commented on #114
Please don't. Don't auto activate this by default. It would fuck the point of using Protonmail.

[2018-03-03 21:04] SkyzohKey commented on #143
@kontrollanten you basically just need to define a proxy for the Electron webview/process. Make it not Tor targeted but proxy targeted, as Tor is just a SOCKS5 proxy. This way you enable Tor user to allow their Protonmail account (detect if the proxy is set to 127.0.0.1:9050 and set the webview URL to the Protonmail Tor onion service) but you also permits other uses to use a pmregular proxy (or ev

[2018-03-03 21:14] kontrollanten commented on #159
Yes, I actually my thought was lying towards React (or preact) and Redux. It's widely used, no complex magic and easy to contribute to without previous experience with React. I've had a lot of other stuff in my life lately, but I'll try to get up a React branch within a few weeks.

[2018-03-03 21:20] kontrollanten commented on #114
No, what @BeatPlus said was that it should be deactivated by default.

I don't think this function would "fuck the point of using ProtonMail". Not for me. I totally agree that the default mode should of course not send any data to third parts. But I think many users, at least me, don't care about an anonymous error report, without any sensitive data, is sent to a third part. Even though it should

[2018-03-03 21:22] kontrollanten commented on #147
I think you're right, @SkyzohKey, this is nothing that should be implemented in ProtonMail Desktop, it should be in ProtonMails web client.

[2018-03-07 08:08] oSoMoN opened #170 "snap not working"
I've noticed the releases page has a snap package for amd64, which is great. I side-loaded it on Ubuntu 18.04 and the app starts but remains blocked on the splashscreen, I can't get any further.

I'm willing to contribute to the snap packaging but the snapcraft.yaml file is not in the repository, is that intended?

[2018-03-07 08:11] kontrollanten commented on #170
Thanks for your feedback, @oSoMoN!

Strange. I actually don't why it's not working. I know that there's issues when starting the app without network connection. May this be the case for you? I assume you've tried to restart the app?

We haven't created any snapcraft.yml. You're more then welcome to create one!

[2018-03-07 08:19] popey commented on #170
@oSoMoN this is an electron-builder built application, so no snapcraft.yaml needed. The package.json has 'snap' as a listed output target, so when electron-builder is called during the application build, it then stands up a yaml and fires off snapcraft to build the snap. So the developer ends up with multiple build artifacts, including a snap, without having to make a yaml themselves.

[2018-03-07 08:22] oSoMoN commented on #170
@popey thanks, I had just figured it out after reading the doc at https://docs.snapcraft.io/build-snaps/electron. Now looking into why the snap isn't working here.

[2018-03-07 08:31] popey commented on #170
For me I get a popup telling me it can't find out if there's an app update. I then see this in the terminal where I launched the app.

[code]

[2018-03-08 14:03] Lvaskz commented on #170
How can I install an application.Snap?  In the future we could download file.Snap  instead use the terminal? There is some plan about that?
I will ask snapcrafters too

[2018-03-08 14:06] oSoMoN commented on #170
Ideally that snap would be published to the snap store, so it would be discoverable and installable on all distributions that support it.

[2018-03-08 14:39] kontrollanten commented on #170
@oSoMoN That's a great idea. But first we need to make it working. I'm not sure if I've time to look at this problem this week.

@popey Would you have the ability to clone the repo, update electron-builder and see if it works?

[2018-03-08 15:33] popey commented on #170
I tried to build it in a clean VM but I may be doing something wrong...

[code]

[2018-03-08 21:17] kontrollanten commented on #170
It seems that there has been some breaking changes in `electron-builder`. I'll take a look onto it and see if I can change what we need to fix.

[2018-03-08 21:30] kontrollanten commented on #170
Sorry. It's late here. It seems that you didn't build the app before running `yarn dist`. Maybe that should be clarified. `yarn build` should create `app/background.js`.

[2018-03-08 22:39] kontrollanten commented on #170
I've tried with latest electron-builder, but I get the same error as @popey regarding app-update.yml. According to https://www.electron.build/auto-update this file should be created by electron-builder. I don't have time to dig deeper into this just now though.

[2018-03-15 13:40] Lvaskz commented on #162
Have you been able to find out something about the correct icon?

[2018-03-15 19:56] kontrollanten commented on #162
No, I'm not able to reproduce this. Are you sure you don't have to two different versions installed of the client?

[2018-03-16 03:31] Lvaskz commented on #162
No, I haven't.  What desktop are you using?

[2018-03-16 06:44] kontrollanten commented on #162
Cinnamon, the latest I guess. I can't see the version right now. And you?

[2018-03-16 13:47] Lvaskz commented on #162
It suppost 3.6 version, but I must to check it. I suspect that this issue must to be in the desktop version, if kde and gnome not reproduce this issue then I think it could be cinnamon desktop. I must to proof my theory and use kde or gnome desktop.

[2018-03-17 15:48] BeatPlus commented on #159
You have a valid point, the project grew to a point we need to consider refactoring to a scalable framework. I will give it a shot to the react + redux leveraging in [electron-react-boilerplate](https://github.com/chentsulin/electron-react-boilerplate).

[2018-03-17 16:15] kontrollanten commented on #159
I've started the migration in a separate branch, https://github.com/protonmail-desktop/application/tree/react This far I've only moved from gulp to webpack. Next step will be to change folder structure, to keep all source files in one folder, separated by renderer/main. Then it's time to switch the renderer to React.

[2018-03-17 20:12] SkyzohKey commented on #159
Gotta  contribute to the React branch asap :)

[2018-03-17 23:04] kontrollanten commented on #159
I've now set up a dev environment with React up and running. Next step should be to fix all linting errors (CSS). Then it's possible to migrate our old renderer logic to React. It shouldn't be too hard.

I haven't updated the README yet though. But I think you'll come far with `yarn && yarn start` and reading the package.json.

@SkyzohKey you're welcome to join our Slack at https://protondesktop.s

[2018-03-24 03:17] sudoyang opened #171 "I got this "auto updater failed error" using 0.5.8 on ubuntu 16.04"
Ops! ProtonMail Desktops auto updater failed. Check https://github.com/protonmail-desktop/application for the latest updates and please create an issue.

Anyone can help? Thanks!

[2018-03-24 06:33] kontrollanten commented on #171
Thanks for your report! Which kind of binary are you using?

[2018-03-24 14:52] sudoyang commented on #171
@kontrollanten Thanks for the relpy! I install it via 64 bit deb package.

[2018-03-24 15:14] kontrollanten commented on #171
Okay. Is it like this every time you start the application? Are there any details provided in the dialog? If you try to open up the application from terminal (`protonmail-desktop`) do you get any information from there?

[2018-03-24 15:17] sudoyang commented on #171
Yes, I have it everyone when starting the app. I only have a pop-up window showing the error message.

I tried start with terminal and got this in terminal

➜  ~ protonmail-desktop
Checking for update
Error: Error: ENOENT: no such file or directory, open '/opt/Protonmail Desktop/resources/app-update.yml'
    at /opt/Protonmail Desktop/resources/app.asar/node_modules/electron-updater/src/AppUpdater

[2018-03-24 15:56] kontrollanten commented on #171
According to https://github.com/electron-userland/electron-builder/issues/1138#issuecomment-336209761 it seems that only `checkForUpdatesAndNotify` (instead of currently used `checkForUpdates`) checks whether the current target has support for auto update.

It should be pretty easy to switch to `checkForUpdatesAndNotify`, but I need to read further to completely understand the flow when using that

[2018-03-24 18:44] sudoyang commented on #171
Great, thanks!

[2018-03-29 14:27] jeroen7s commented on #149
you should use the keyring of the computer to store the password, that way it's stored securely
it's usually gnome-keyring on linux, apples keychain on mac and on windows idk what it's called.
bitwardens password manager just released a desktop client based on electron which is open source, and stores the password in the keyring/chain if "remember password" is selected in settings
you might want t

[2018-03-29 15:20] vladimiry commented on #149
System keyring is not a really secure option, any app can read the record, https://github.com/atom/node-keytar/issues/88.

Although if someone needs it, https://github.com/vladimiry/protonmail-desktop-app is alternative of this app with password storing feature using system keyring.

[2018-04-07 20:40] vinyll commented on #147
I'm still actively searching for solution for this ;)
Wondering how https://github.com/scastiel/protonmail-export be an inspiration somehow…

[2018-04-09 14:01] dtolb opened #175 "macOS Sierra 10.12.6 - 4k monitor icon broken"
Loving the app so far!

I'm running macOS Sierra 10.12.6 with a 4k monitor (no scaling).  The app icon is broken at this resolution and shows the default icon for macOS.

![screen shot on 2018-04-09 at 09_59_30](https://user-images.githubusercontent.com/6805534/38502181-c306c122-3bdc-11e8-89e8-2f73f1ab2b69.png)

I was able to fix it locally by [converting the .png to an icon](https://iconverticons

[2018-04-11 09:50] vinyll commented on #147
ProtonMail has an API that we could probably use to enhance the desktop version.
I [wrote an invite to gather forces](https://github.com/scastiel/protonmail-export/issues/17) on building something that would bring a real solution to this issue, and would make ProtonMail Desktop a real advantage compare to the current online version.

If you have time to read the invite it would be greatly apprecia

[2018-04-18 12:03] ThisIsMissEm opened #176 "Only first tab is functional after app restart"
Hi!

I've noticed that if I quick the application, then reopen it, then only the first tab is functional, the others just render as:
![screen shot 2018-04-18 at 2 03 30 pm](https://user-images.githubusercontent.com/30827/38930770-4ba5a288-4311-11e8-914b-3fb697b89a09.png)

I've tried debugging it, but can't get anything to work. Any ideas?

[2018-04-18 19:13] BeatPlus commented on #176
Hi, are you using the binary or source?

[2018-04-19 12:05] ThisIsMissEm commented on #176
Binary.

[2018-04-20 05:50] kontrollanten commented on #175
Thanks for reporting! We'll try to fix this soon

[2018-04-20 06:09] kontrollanten commented on #147
Interesting idea, @vinyll ! One option could be to embed the ProtonMail webclient "locally" (instead of using mail.protonmail.com) inside the ProtonMail Desktop client and then put in a service worker to cache everything and web workers to crawl the mailbox for offline storage.

Since it's possible to [use NodeJS features inside Electron web workers](https://github.com/electron/electron/blob/maste

[2018-04-20 06:11] kontrollanten commented on #176
This is a bug and should be solved by our [React version](https://github.com/protonmail-desktop/application/projects/1)

[2018-04-22 16:08] Lvaskz commented on #162
Greetings, I've been testing this in ubuntu gnome 18 04 and 16.04 and the problem remains and the mate also. The icon that appears is of electrons. So I do not think it's the desktop version. My suspicions vanished, apparently does not have to do with the version of the desktop.

[2018-04-30 03:48] antuketot76 opened #177 "False Positive (Virus Total/Hybrid Analysis)"
Find out the file downloaded detected as below.

![image](https://user-images.githubusercontent.com/33280865/39414600-76f459f4-4c74-11e8-942a-f7317b5be6d6.png)

SHA-256 - 9619df23415da415550e20e3e442f998e85496be817062d946bc0af00ea89950
File Name - protonmail-desktop-setup-0.5.8.exe
File Size - 78.28 MB
Date Scanned : 2018-04-30 03:22:08 UTC

GitHub File : [HERE](https://github.com/protonmail-deskt

[2018-04-30 05:36] kontrollanten commented on #177
Thanks! What does "HW32.Packed.3BAF" mean? I couldn't find any information about it

[2018-04-30 23:29] antuketot76 commented on #177
Hey, below are result by Hybrid Analysis.
Hope that this will help you to analyze this "HW32.Packed.3BAF"
Hybrid Analysis Result : [HERE](https://www.hybrid-analysis.com/sample/9619df23415da415550e20e3e442f998e85496be817062d946bc0af00ea89950/5ae79d5b7ca3e15c0b392163)
![image](https://user-images.githubusercontent.com/33280865/39454852-901c3a06-4d18-11e8-943f-c3037d742c6b.png)
![image](https://user

[2018-05-02 16:48] kontrollanten commented on #177
1/64 anti virus services says it's malicious. I don't why it's triggered as malicious and therefore it's hard to find any fix for this. Any help would be appreciated.

[2018-05-12 05:44] tornado103 opened #178 "Desktop Notification not working"
Perhaps it's just me, but I can't seem to get desktop notifications to work. When I go to settings within my a ccount, within the app, the "test notification" doesn't work. Maybe my next Email will. I'll update to let you know.

Also, minimizing to system tray would be awesome

[2018-05-14 03:15] bnscv commented on #162
Just to confirm that the icon problem also happens on KDE, using Kubuntu 18.04.

[2018-06-27 06:27] Ghost-Recon131 opened #179 "Desktop client not working"
I'm not sure why but an hour ago the Protonmail desktop client just decided to stop working and stay on the default screen without showing the login screen. I've tried to uninstall the app which didn't work then I used RevoUninstaller Pro to clean all traces of the program and it still didn't work. Any ideas how to solve this? I'm using the windows version and I'm running the latest version of Win

[2018-06-27 06:28] Ghost-Recon131 commented on #179
opps sorry accidentally closed it

[2018-06-27 06:35] kontrollanten commented on #179
Strange. This can happen when there's no internet connection (or if https://mail.protonmail.com/login is unreachable), but I guess you can reach https://mail.protonmail.com/login in your browser?

Can you open the application from the command line and see if there's any errors logged in the CLI?

[2018-06-27 06:37] Ghost-Recon131 commented on #179
Yeah I can, I've also made sure I've haven't got VPNs running

[2018-06-27 08:09] Ghost-Recon131 commented on #179
I've done a few more uninstall and restarts and the app is working again. Perhaps there was a small glitch on the Protonmail server. Thanks for your help!

[2018-06-27 08:09] #179 closed

[2018-06-27 08:28] kontrollanten commented on #179
Okay. We're working on a new client which will handle those cases better. Let me know if you're facing this issue again!

[2018-07-02 08:32] nick-lehmann commented on #179
The issue might not have been caused by the client but rather by the server. I received an email from Protonmail that their servers were under heavy DDoS attacks the last days but the issue is now fixed.

[2018-08-15 05:43] kontrollanten commented on #162
No, not really. We're working on a complete new version of the application in a separate branch. But I haven't got much time to work on that lately since I've been busy with work and private life. I hope we can do a pre release of version 1 soon, then I'll write here to let you try if the new version solves the problem.

[2018-09-13 10:03] LM1LC3N7 opened #180 "Allow to use https://beta.protonmail.com/inbox"
Can you allow this new URL ?

https://beta.protonmail.com/inbox

[2018-10-10 15:05] kontrollanten commented on #180
Sorry for late answer. I've filled up with porting the client to React. That will make the client more configurable. I'm adding this as a feature in the React client and hopefully I can deploy a beta soon. I'll let you know :)

[2018-10-10 15:09] LM1LC3N7 commented on #180
Ok thanks for the news!

[2018-11-03 22:06] beanaroo opened #183 "Copying of hyperlinks"
At the moment, right-clicking on hyperlinks in emails does nothing.

It would be great if a context menu was provided to copy a link. (like in Slack and Hiri)

*Workaround*: Dragging and dropping the link works for now.

[2018-11-06 22:48] kontrollanten commented on #183
Thanks for reporting! We'll put that on the list!

[2018-11-06 22:49] #178 closed

[2018-11-11 09:48] thiswillbeyourgithub opened #185 "Keyboard shortcuts not working ?"
Hi, I am surprised to see that keyboard shortcuts don't seem to work.
Is it only me ? I'm using 5.9 on ubuntu.

edit : I restarted the app and it is working fine now. Priori to restarting the app I had just enabled the keyboard shortcut.

[2018-11-11 09:49] #185 closed

[2018-11-19 09:29] thiswillbeyourgithub opened #186 "[bug] can't go back to login screen if timeout of 2 password login reached"
Hi,
I found a very small unexpected behavior. When loginng in using the two passwords method if too much time has elapsed between the two inputs PM will refuse the login and ask to re enter the first password. However there is no way to go back to the first login screen in the app (as far as I know) so the only way to login is to restart the app which is a minor annoyance.
I'm thinking the easiest

[2018-11-19 10:22] kontrollanten commented on #186
Thanks for reporting! I think that to automatically reload the first page if the second password hasn't been entered within a time interval may be a fragile solution. Even though I don't have any other good solution on my mind right now. Maybe we should add a button to reload the webview, that may help in other cases when the user wants to "reset" the state of the webview.

[2018-11-21 15:32] kontrollanten commented on #183
@beanaroo Which OS are you using? For me it works in MacOS 10.14.

[2018-11-21 21:55] BeatPlus commented on #186
Hi!

Thanks for reporting and for the feedback. We can definitely add a refresh button or we could add a refresh option inside the tab's right click.

What are your thoughts?

[2018-11-21 21:55] BeatPlus commented on #186
Ps. There is a development version which allows to hide the tab

[2018-11-21 21:58] thiswillbeyourgithub commented on #186
If you're the "UX star" you are definitely more qualified than me to ponder the best solution :) so I leave it up to you (that being said, I think both options would go well together ;) )

[2018-11-21 22:03] BeatPlus commented on #186
My UX experience is conspicuous by its absence, I'll locally test both approaches and decide then

[2018-11-22 23:21] thiswillbeyourgithub opened #189 "PM's reddit account hinted at help from the community"
Hi everyone :)

In the last few days [Nadim Kobeissi](https://en.wikipedia.org/wiki/Nadim_Kobeissi) (a french cryptography research) had an [exchange](https://www.reddit.com/r/ProtonMail/comments/9yqxkh/an_analysis_of_the_protonmail_cryptographic/) with protonmail about the security of its web app ([published paper here](https://eprint.iacr.org/2018/1121)). In one of the exchange that followed on

[2018-11-23 05:52] kontrollanten commented on #189
Thanks for your post! You write

With "this app" I assume you mean our electron app? I'm in no way a crypto expert, but I can't see how this app differs from a web browser in a security perspective. With that said a first step could be to implement a server verification in the electron app.

Even though a browser extension sounds interesting. Right now I have to put my spare time to finish our new

[2018-11-23 08:39] thiswillbeyourgithub commented on #189
I indeed meant the electron app and you are right, I was mistaken, it actually acts pretty much like the webapp and has the same vulnerability.

I completely agree, if someone ever created a browser extension then your app would be come a "less secure" way of using PM compared to a browser+plugin so I think in both cases implementing a code verification in the electron app would be useful.

My goa

[2018-11-23 09:39] vladimiry commented on #186
Speaking of UX. Addition approach is implementing the automatic login, that would be able to handle all the scenarios: password, master password, and 2FA code.

[2018-11-23 10:33] thiswillbeyourgithub commented on #186
If I may, the trade-off between "not typing one/two password/s" and "storing locally your password" is absolutely not worth it. Plus typing it repeatedly helps to memorize long ass passwords.

Also, wouldn't it defeat the purpose of 2FA than being able to login without entering anything ?

[2018-11-23 11:12] vladimiry commented on #186
Consider the following arguments:
1. The desktop app keeps the accounts credentials encrypted. So a user can decrypt the accounts store only knowing the master password. So there is a need to remember `a single master password` rather than remembering all the passwords and dealing with 2FA tokens for all the accounts you added into the app. Such feature, in my opinion, would significantly improve

[2018-11-23 11:36] kontrollanten commented on #186
@vladimiry I agree on your second argument. As long as it's disabled by default and that it informs the user that it will weaken the security, I think that can be a good option.

I think that many people avoids encrypted email because it's complexity, so if the choice is between weakened ProtonMail vs Gmail, I think weakened ProtonMail is a better choice.

[2018-11-27 15:41] kontrollanten commented on #180
@LM1LC3N7 We've released our own beta where it's possible to opt in for beta.protonmail.com https://github.com/protonmail-desktop/application/releases/tag/v1.0.0-beta.1

![image](https://user-images.githubusercontent.com/6680299/49092899-506ffa00-f263-11e8-9866-f096c8caadc8.png)

[2018-11-27 15:43] kontrollanten commented on #176
@ThisIsMissEm We've pre-released our React version now, you can download it at https://github.com/protonmail-desktop/application/releases/tag/v1.0.0-beta.1

[2018-11-27 15:44] kontrollanten commented on #171
@sudoyang Sorry for the late response. We've now done a pre release where this should've been fixed. Can you try to download and see if it works? https://github.com/protonmail-desktop/application/releases/tag/v1.0.0-beta.1

[2018-11-27 19:15] sudoyang commented on #171
@kontrollanten Thanks for the information! But it still seems that something went wrong...
Btw, I have updated my system to Ubuntu 18.10.

Here are details:

➜  ~ protonmail-desktop
(electron) 'app.makeSingleInstance(cb)' is deprecated. Use 'app.requestSingleInstanceLock() and app.on('second-instance', cb)' instead.
APPIMAGE env is not defined, current application is not an AppImage
Checking for u

[2018-11-28 07:04] kontrollanten commented on #171
Thanks for your quick response! I hoped it was possible to check for new versions even if auto update isn't supported, but it seems that it's not. I'll dig a bit more into this before I remove it.

[2018-11-28 20:50] kontrollanten commented on #171
I get the feeling that electron-builder recommends to only build AppImage for Linux. I'm thinking about if we should just remove the other builds, but I'm not an experienced Linux user so I don't know if that's a bad thing. @sudoyang Is there any reason that you've choose deb instead of AppImage?

[2018-11-28 21:10] sudoyang commented on #171
@kontrollanten In general, deb package follows the system setting better, for example, the system theme. In the case of protonmail-desktop, AppImage is equally good since it is mostly a webpage. So I do not mind to use AppImage instead.

[2018-11-28 22:05] kontrollanten commented on #171
@BeatPlus do you have any opinions about this?

[2018-11-29 00:18] sudoyang commented on #171
AppImage seems to have some problem too. Or is it due to my system setting?

➜  Downloads chmod a+x protonmail-desktop-1.0.0-beta.1-x86_64.AppImage
➜  Downloads ./protonmail-desktop-1.0.0-beta.1-x86_64.AppImage
(electron) 'app.makeSingleInstance(cb)' is deprecated. Use 'app.requestSingleInstanceLock() and app.on('second-instance', cb)' instead.
Checking for update
Error: HttpError: 404 Not Found
"

[2018-11-29 16:02] thiswillbeyourgithub commented on #189
Apparently @vladimiry is working on something like this : https://github.com/vladimiry/email-securely-app/issues/79

[2018-12-02 08:31] kontrollanten commented on #171
@sudoyang The problem with AppImage was due to a failed release from our side. If you try again it should work now.

[2018-12-02 15:10] kontrollanten commented on #171
Release **1.0.0-beta.3** should've solved the error message with the deb package.

[2018-12-02 18:59] sudoyang commented on #171
It works both ways!

[2018-12-02 23:00] kontrollanten commented on #189
That looks like a great idea. I tried that a year ago or so, but then I wasn't able to build the ProtonMail webclient locally, but now it seems to be doable.

[2018-12-03 06:12] vladimiry commented on #189
I've enabled the built-in web client feature handling [this](https://github.com/vladimiry/email-securely-app/issues/79) issue and posted there some details about the implementation which might be helpful for implementing the feature within this project. I confirm it's possible to [WebClient](https://github.com/ProtonMail/WebClient) project locally, but only on Linux/macOS. Will be happy to answer

[2018-12-03 19:32] #171 closed

[2018-12-06 09:18] BeatPlus opened #190 "[Bug] Hiding the sidebar leaves an empty space"
When toggling the sidebar, the webview does not expand to fullscreen width

[See screenshot](https://i.imgur.com/Rp3qGE2.png).

[2018-12-06 09:32] BeatPlus commented on #183
Right click is not working for me in react beta release, a similar fix to [this one](https://github.com/sindresorhus/electron-context-menu/issues/37) should work. I'll work on it

[2018-12-08 10:09] vladimiry commented on #183
[Here](https://github.com/vladimiry/email-securely-app/blob/6d99e927100aa4574902c3f49bf53feeba7d2e8b/src/electron-main/web-content-context-menu.ts) is the relatively simple solution that works for BrowserWindow + webviews with Electron v3. Keep in mind that `initWebContentContextMenu` function needs to be called before BrowserWindow creating. This solution also copes well with [this](https://githu

[2018-12-08 12:44] UnreaI opened #192 "[Bug] Window stuck alwaysOnTop"
The app is always on top of other windows, have to click minimize every time. >:

[2018-12-10 05:49] kontrollanten commented on #192
Thanks for your report! Which OS version and which version of ProtonMail Desktop are you using?

[2018-12-10 11:17] UnreaI commented on #192
@kontrollanten Windows 10 version 1803, 1.0.0-beta.3

[2018-12-17 17:56] fieldse opened #193 "Closing application leaves node process running."
**Summary**

Closing the application window leaves the thread running. This results in multiple copies of the node application upon subsequent opens.

**Details**
OS Ubuntu Linux

**Steps to duplicate**

1. Start application in terminal
[code]
2. [close application window]
3. Thread is still running. Must interrupt to kill.

[2018-12-18 15:09] kontrollanten commented on #192
@UnreaI If you to the menu and choose Help > Always on top, will that fix it? Ctrl+Shift+T should also work

[2018-12-18 15:13] UnreaI commented on #192
Yes, Ctrl+Shift+T works! Thank you :)

[2018-12-18 15:13] #192 closed

[2018-12-18 15:17] kontrollanten commented on #193
Thanks for reporting! This is fixed in the react branch, which will soon be merged into master.

[2018-12-18 15:17] #193 closed

[2018-12-18 18:43] fieldse commented on #193
Thanks @kontrollanten !

[2018-12-24 19:35] starndust31 commented on #178
I have the same problem

[2018-12-24 19:40] starndust31 opened #197 "Notifications don't work"
I know someone else had the same problem, but I don't think it ever got fixed so I'm posting this here. Desktop notifications don't work for windows on the latest beta. The original issue suggested using something else but that something else requires a master password for some reason and I didn't like that.

Also, I keep getting an error when trying to install the last stable release.

[2018-12-30 22:30] notramo opened #198 "Can't resume writing draft messages"
It is not possible to edit or view a draft message. It says "Script execution is forbidden" in the same style as it says when "Message sent", "Servers are unreachable", etc.

[2018-12-31 12:19] BeatPlus commented on #198
This sounds to me like a ProtonMail bug, otherwise the window you mention would be different to "message sent".

Have you tried reproducing it again?

[2018-12-31 12:32] lukapercic opened #199 "remove/add option to remove red notification for unread emails"
![image](https://user-images.githubusercontent.com/4706356/50560307-da4a3180-0cff-11e9-8248-dec8c72b3f4d.png)

Red color is messing with people concentration (you need to click it until it goes away). IMHO it shouldn't be even used by defult, but at least offer an option to disable it. I don't read all emails and cant stand the red notification.

[2018-12-31 12:35] BeatPlus commented on #199
Hi Luka,

Thanks for the feedback, we are working on a settings panel, I will add the notification to the roadmap

[2018-12-31 12:41] lukapercic opened #200 "Add autologin (or even better; sign in at startup)"
![image](https://user-images.githubusercontent.com/4706356/50560447-25187900-0d01-11e9-84dd-786a8b94da71.png)
I downloaded this promising utility because i hoped i wouldn't need to sign up everytime (like i do on the web). Thats not the case, and its in fact even harder to to sign up everytime (no password save)

[2018-12-31 19:00] starndust31 opened #201 "When I try to install 0.5.9, I get this error"
![new bitmap image](https://user-images.githubusercontent.com/25423730/50566148-2f2f7d00-0ceb-11e9-9d3a-8e4e2a4d0cb1.jpg)

[2019-01-01 18:35] kontrollanten commented on #200
It's by design that we don't store the password. There's already an issue where we've discussed this #149

You can try https://github.com/vladimiry/email-securely-app Which I think has support for ProtonMail and single sign in.

[2019-01-01 18:35] #200 closed

[2019-01-01 18:37] kontrollanten commented on #201
Which OS and version are you using? Can you try to install the latest pre release 1.0.0-beta.3?

[2019-01-02 18:14] notramo commented on #198
I tried it from a WebKitGTK and a Gecko browser, and it works perfectly in both.

[2019-01-02 22:31] kontrollanten commented on #198
But it's still not working in ProtonMail Desktop? If not, which version are you using?

[2019-01-03 21:48] #190 closed

[2019-01-03 21:50] #165 closed

[2019-01-03 21:51] kontrollanten commented on #175
Sorry for late response. Can you try the latest beta to see if it works?

[2019-01-03 21:56] dtolb commented on #175
no issue recently!

[2019-01-03 21:56] #175 closed

[2019-01-04 22:36] #159 closed

[2019-01-07 14:44] notramo commented on #198
Oops. I was using 0.5.8 (the Arch Linux package is outdated, and I didn't checked it). It still exists in 0.5.9, but it works in 1.0.0-beta.3.
I'm sorry for wasting your time!

[2019-01-07 14:44] #198 closed

[2019-01-09 00:58] starndust31 commented on #201
I am using windows 10 64-bit Version 1803 (OS Build 17134.472). The pre release 1.0.0-beta.3 does install correctly, but notifications didn't work. I was hoping that if I installed the latest release which is 0.5.9 then it would be stabler and perhaps notifications would work there. However, I instead get this error when trying to install 0.5.9

[2019-01-23 09:42] thiswillbeyourgithub opened #203 "Can't 'snap resize' window on ubuntu 18.04"
Hi,
I just switched from 16.04 to 18.04 and installed your app. I was previously on unity but now on gnome-shell 3.28.3
I noticed I can snap resize the app to fullscreen (super + uparrow) but I can't seem to snap it on the sides (make it take only half the screen) using super+horizontalarrows

Any idea how I could fix this ?

[2019-02-18 12:05] kontrollanten commented on #203
Hi! I'm sorry but I don't know how that can be fixed or where the issue is. It sounds like it's a feature that shouldn't depend on the application. I guess you haven't got it working yet?

[2019-02-18 21:47] thiswillbeyourgithub commented on #203
Nope, and I am not a dev so I have no idea how to help :/

[2019-02-18 22:27] kontrollanten commented on #203
It sounds like you've got a good reason to start ;-) I'll keep this open and hope for help from the community.

[2019-02-21 09:49] didrip opened #204 "Dark theme setting has no effect"
When checking the options "dark theme" in settings (bottom left), the appearance is not changed.

ProtonMail Desktop v1.0.0-beta3
Ubuntu 18.10 + GNOME

[2019-02-21 10:10] kontrollanten commented on #204
It seems to be a bit broken according to ProtonMails latest CSS, but you should see that the login page and also Inbox sidebar is dark, right?

[2019-02-27 06:35] GalaxyHopper opened #205 "Virus detected in the Squirrel framework"
VirusTotal has detected a virus/malware PUA.OSX.Adware in Squirrel inside the framework folder.
I resolved it by manually updating the Squirrel framework.

[2019-02-27 06:51] kontrollanten commented on #205
I'm not sure how to solve this. It sounds like we need to update `electron-builder` and do a new release?

[2019-02-27 06:52] kontrollanten commented on #205
Are you using Windows? May it be related to this https://github.com/atom/atom/issues/16986 ?

[2019-02-27 07:18] GalaxyHopper commented on #205
I'm using the macOS

[2019-02-27 08:37] kontrollanten commented on #205
How did you manually update Squirrel?

[2019-02-27 15:36] GalaxyHopper commented on #205
I downloaded the latest Squirrel.framework from https://github.com/Squirrel/Squirrel.Mac/releases
unzipped it and replaced the old one found here: /Applications/Protonmail\ Desktop.app/Contents/Frameworks/Squirrel.framework

[2019-03-02 08:28] kontrollanten commented on #183
v1.0.0-beta.4 is released where this should be fixed. I've no Windows computer, but I could reproduce it and verify the fix in VirtualBox. Please reopen if the problem still occurs.

[2019-03-02 08:28] #183 closed

[2019-03-02 08:50] kontrollanten commented on #205
@GalaxyHopper This seems to be fixed in our latest release; https://www.virustotal.com/#/file/6de5a01198143fea4ea9df0f52a6214bd695daa90dc86a9f137467555e06027b/detection

Can you download the new version and verify?

[2019-03-02 22:07] GalaxyHopper commented on #205
@kontrollanten I installed the new version and the files are clean. Thanks a lot!

[2019-03-02 22:07] #205 closed

[2019-03-03 13:48] kontrollanten commented on #177
This is now solved. I'll see if we can build a CI job that scans the files every week to detect this early, but I'm closing this issue since it's resolved.

[2019-03-03 13:48] #177 closed

[2019-03-04 22:29] kontrollanten commented on #197
Sorry for the delay. I missed this issue. Are you still getting error when installing the latest pre-release? If you have, can you post your OS, the error message and steps to reproduce?

If you can install the latest version, does notifications work? If not, which OS are you running?

[2019-03-04 22:39] kontrollanten commented on #162
@Lvaskz Sorry for the delay, we've now published a pre release. If you want to, you can download it and see if works better.

[2019-03-04 22:41] kontrollanten commented on #170
@oSoMoN Can you try to download our latest pre-release to see if it works?

[2019-03-05 04:04] starndust31 commented on #201
Ok, I tried again and it works now. Just thought I'd say that.

[2019-03-05 04:04] #201 closed

[2019-03-05 04:34] starndust31 commented on #197
I'm not getting an error when installing a pre-release anymore however notifications still aren't working. I'm using windows 10 version 1803 OS build 17134.590. Both 0.5.9 and beta 4 don't seem to work.

[2019-03-05 04:40] starndust31 opened #228 "Taskbar shortcut doesn't work"
If I make a shortcut in the taskbar with beta 4 nothing happens.

[2019-03-05 04:47] Lvaskz commented on #162
hi, same issue with beta release

[2019-03-05 04:53] kontrollanten commented on #162
Okay, thanks

[2019-03-05 04:56] kontrollanten commented on #170
I tried this in Ubuntu 16.04 and got it working by running

[code]

[2019-03-05 05:32] kontrollanten commented on #162
I found

[code]

In the build log https://circleci.com/gh/protonmail-desktop/application/66 I guess it can be related :thinking: I think I have a fix for it, but I need to try it in a clean environment first.

[2019-03-05 08:37] kontrollanten commented on #162
A new release https://github.com/protonmail-desktop/application/releases/tag/v1.0.0-beta.5 where the icon should be fixed for AppImaged 🙏

[2019-03-05 14:33] kontrollanten commented on #197
@starndust31 Thanks for reporting! This should be solved in latest release, https://github.com/protonmail-desktop/application/releases/tag/v1.0.0-beta.6

Please let me know if it works for you, otherwise open a new issue.

[2019-03-06 07:17] starndust31 commented on #228
Just wanted to say that the same thing happens with beta 6

[2019-03-06 07:18] starndust31 commented on #228
Also this issue doesn't appear in version 0.5.9

[2019-03-06 07:19] starndust31 commented on #228
And also that the cursor will load for a moment when clicking the shortcut

[2019-03-06 09:27] kontrollanten commented on #228
And it's Windows 7 you are using? Can you describe the steps to reproduce? I'm not a Windows user but I'll try to reproduce it and fix.

[2019-03-07 02:05] starndust31 commented on #228
No, I am on windows 10. Steps go like this.
1. Open Protonmail
2. Right click icon in taskbar
3. Click pin to taskbar
4. Close proton mail
5. Press icon

Nothing will happen

[2019-03-07 23:31] #228 closed

[2019-03-08 06:26] kontrollanten commented on #228
Thanks for your explanation. I was able to reproduce and fix this in Windows 10. The latest version should have this fixed, please let me know if it works as expected.

[2019-03-08 06:38] starndust31 commented on #228
It works, but it kind of pauses for a moment before opening now.

[2019-03-08 06:40] starndust31 commented on #228
Like the cursor will become that circle loading thing for a moment before opening. While I feel like this didn't happen before in 0.5.9, I feel like now the pause is a bit annoying but tolerable.

[2019-03-08 07:03] kontrollanten commented on #228
Thanks for quick response! The Electron API has changed in the latest version, and that's what has changed since 0.5.9. We're actually not doing anything more than listening on the event that gets triggered and then calls `window.open()`, so I'm not sure what we can do about the pause. But I'll have a look, or maybe @BeatPlus

[2019-03-13 12:16] flexiondotorg commented on #170
Hey @kontrollanten I work on the Snapcraft team and would love to help get ProtonMail Desktop published in the [Snap Store](https://snapcraft.io/store) :smiley:

I'm a ProtonMail user myself, I've just tested the snap you have in your GitHub releases and it works a treat! I see you're using Circle CI, here is their documentation for publishing snaps in the store:

  * https://circleci.com/docs/2.0

[2019-03-13 12:24] kontrollanten commented on #170
Hey @flexiondotorg ! That sounds amazing! I've had plans for snap store publishing myself, but I've had other stuff to prioritize.

To be the boring one. If the snap is working accurate, then I'll close this issue. Can you create a new issue where we discuss this further?

[2019-03-13 12:24] #170 closed

[2019-03-13 12:28] oSoMoN commented on #170
@kontrollanten sorry for the late feedback, but I can confirm the snap for the 1.0.0-beta.7 release works well here. I too would very much welcome an officially supported snap in the store, rather than having to side-load a file I have download. Thanks!

[2019-03-13 13:28] flexiondotorg opened #245 "Publish in the Snap Store"
Hey @kontrollanten I work on the Snapcraft team and would love to help get ProtonMail Desktop published in the Snap Store smiley

I'm a ProtonMail user myself, I've just tested the snap you have in your GitHub releases and it works a treat! I see you're using Circle CI, here is their documentation for publishing snaps in the store:

    https://circleci.com/docs/2.0/build-publish-snap-packages/

[2019-03-15 06:49] kontrollanten commented on #245
Thanks! Sounds terrific! I just saw that I've already created a private snap in the store called `protonmail-desktop-unofficial`. Do you have any opinions regarding the name?

A PR is welcome to add snap publish config to our Circle CI config.

Regarding the campaign. May it be that we'll get more downloads from users who doesn't already have a ProtonMail account when it's promoted in the Snap Sto

[2019-03-18 02:09] Lvaskz commented on #162
Hi, yes,  now is working well with appimagelauncher
 Thanks for your efforts, very appreciated

[2019-03-18 02:09] #162 closed

[2019-03-23 14:41] kontrollanten commented on #245
I don't have access to any Linux computer right now so I can't do the setup. I hope to get this configured and published within a week or two.

[2019-04-06 12:13] BarryMode commented on #90
Rather than using an extension, it would be nice to at least have an option to stay logged in.

[2019-04-10 00:25] chui2ch commented on #149
Is this something that may be added in the future?

[2019-04-10 00:31] chui2ch opened #280 "Spell check"
Is spell check something that is being looked into for the application?

[2019-04-13 18:01] kontrollanten commented on #280
Not something that we'd thought about. I don't know how it's working in Electron actually. Maybe this package can solve this https://github.com/electron-userland/electron-spellchecker

[2019-04-13 18:03] kontrollanten commented on #149
Yes, it may be added but it's not something prioritized. But if someone wants to create a PR he's welcome =)

[2019-04-14 17:19] Ussagui opened #285 "Max Account 6"
Is there a way to have more than 6 accounts logged?
I got a token access error if not wrong (when i add acc 7, acc 1 got disconnected)

[2019-04-14 17:30] kontrollanten commented on #285
I can't see why it shouldn't be possible with more than 6 accounts, more than they may not be all visible in the sidebar. What do you mean with "token access error"? Does it work when you use the web client?

[2019-04-14 17:40] Ussagui commented on #285
So i just reproduced the error and toke some print screen to show
resume:
after having more than 6 acc logged the "1st" one that i logged got the error
"invalid access token"
"invalid input"
but i did nothing on that account, i was just adding a new one ...
![1](https://user-images.githubusercontent.com/4978197/56096811-cf846880-5eba-11e9-9b85-167c0c24b7b3.png)
![2](https://user-images.githubuserc

[2019-04-14 19:10] kontrollanten commented on #285
Okay. And does this work when you login to mail.protonmail.com from 6 different tabs in a browser?

[2019-04-18 03:09] zethexx opened #291 "Old version published in AUR"
I'm using Arch Linux x86_64, installed this package via this package from the [AUR](https://aur.archlinux.org/protonmail-desktop.git). Upon starting the application it gives an error and reports this to the command line:
[code]
The application then hangs doing nothing, requiring killing the process.
Anyone know what is going on here and why it is giving an error?

[2019-04-18 07:56] kontrollanten commented on #291
Thanks for reporting! That seems like a strange error. Can you try to install the latest version manually from https://github.com/protonmail-desktop/application/releases/tag/v1.0.0-beta.7 ?

[2019-04-19 08:21] kontrollanten commented on #245
Thanks for the help! Now it's [published](https://snapcraft.io/protonmail-desktop-unofficial)!

[2019-04-19 08:21] #245 closed

[2019-04-19 08:21] #180 closed

[2019-04-19 08:21] #176 closed

[2019-04-19 08:30] kontrollanten commented on #291
I've contacted the publisher in AUR to make it possible to update the version there. I actually didn't know it was published there.

[2019-04-19 08:32] kontrollanten commented on #285
I'll close this for now. Feel free to re-open if your answer to my last question is "yes", otherwise it's a ProtonMail limitation

[2019-04-19 08:32] #285 closed

[2019-04-19 08:56] zethexx commented on #291
Hi yes and the version pulled from that link seems to work well. Had no related problems so far. Probably should have tried installing from Git directly before opening an issue. Sorry about that. Seems like the AUR version is inactive, probably best that I get builds from here

[2019-04-19 08:56] #291 closed

[2019-04-26 23:23] danger89 commented on #200
OK< too bad bye bye. I switch to his app. I'm using Protonmail desktop on my OWN desktop, no risk that people access my desktop.

[2019-05-27 05:15] klemy opened #334 "Add a Flatpack build for Flathub"
Hello,

I use Fedora and I have no access to Snap applications. Another containerized application system, named [Flatpack](https://flatpak.org/), is widely used ([and maybe more!](https://trends.google.com/trends/explore?q=snapcraft,flatpack)).

A commonly used registry is Flathub. [Here is the doc for App submission.](https://github.com/flathub/flathub/wiki/App-Submission)

Could it be possible t

[2019-06-07 10:38] tde-1 opened #348 "Notification settings"
Currently, when you receive a notification about a new email, it will display the sender and the subject of the email in the notification.

For privacy reasons, a notification preferences screen should allow you to change what the notifications reveal. Some options could include:

When messages arrive, display notifications that reveal:
- Both sender name and subject (as it currently is)
- Only se

[2019-06-07 11:10] kontrollanten commented on #348
Thanks for your feedback! We're only forwarding the notification that ProtonMail is sending, so I don't think this is anything that should be changed within the desktop client but instead in the web client.

[2019-06-07 11:10] #348 closed

[2019-06-21 09:21] a66298458 opened #364 "some advices"
When I select several messages in the selection box and mark them as read, these selection boxes are still selected, which is not convenient for the next multiple selection operation.

[2019-07-14 10:34] vladimiry commented on #348
This is the way https://github.com/vladimiry/ElectronMail app does it.

[2019-07-23 21:19] kontrollanten commented on #364
Thanks, but that's not a part of this project. Fill an issue at https://github.com/ProtonMail/WebClient instead.

[2019-07-23 21:19] #364 closed

[2019-08-15 20:54] bbhopesh opened #411 "Clicking notications doesn't open application/email"
In Windows when I click on the notification, it doesn't focus on the app and doesn't open mail.

[2019-08-15 23:19] thiswillbeyourgithub opened #412 "can't launch anymore : "SNAP env is defined, updater is disabled""
Hi,

I've been using your great app for a while now and I have been having this issue recently.

I can't launch the app anymore. When typing "protonmail-desktop-unofficial" inside a terminal I get "SNAP env is defined, updater is disabled".

This gets me nowhere on the internet so I decided to come here, as I have no idea what this means. Rebooting solves the issue, I have on idea what causes it.

[2019-08-16 08:00] thiswillbeyourgithub commented on #412
I think I got it. Apparently the window was hidden from my desktop environnement.

When trying to launch the app twice it gives this error, the solution to me was either to quit via terminal or to toggle on the window usin the system bar applet.

Suggestion : open up a window widget telling that the app is already launched

Thanks for the app and sorry :)

[2019-08-16 08:00] #412 closed

[2019-08-26 13:23] vladimiry commented on #411
The requested feature is supported here https://github.com/vladimiry/ElectronMail by the way.

[2019-08-26 19:54] vladimiry commented on #280
The requested feature is supported here https://github.com/vladimiry/ElectronMail by the way.

[2019-09-18 06:42] KaKi87 commented on #204
Hey !
Any news on this ?
Thanks

[2019-10-17 02:34] skyblue002 opened #453 "Icon missing"
I have protonmail-desktop 1.0.2-1.

It seems like the icon is improperly configured and the result is that there is no icon showing up in the MATE panel menu.

I tracked down the error and it seems like a symlink is improperly configured. The `/usr/share/pixmaps/protonmail-desktop.png` link is broken. It links to: `/lib/protonmail-desktop/app/static/Icon.png` which doesn't exist. The icon is actua

[2019-12-06 11:25] huyndnse63331 opened #475 "Application never starts with maximize"
Hi, first of all, thanks for the project, really convenient for me.
I'm using Ubuntu 18.04.3 (amd64), when i press on Protonmail Desktop icon, it always starts with minimized, even though i maximized it, but it's the same again, i have to maximize the window everytime. Will this be considered fixing? Thanks

![image](https://user-images.githubusercontent.com/25204246/70319779-b53a3900-1855-11ea-8d

[2019-12-08 06:53] kontrollanten commented on #204
You should be able to see the dark theme on the login page and inbox sidebar. The rest is up for grab for whoever wants to improve it.

[2019-12-08 07:00] kontrollanten commented on #453
Thanks for reporting!

Both paths seems equal?

I've no idea how the AUR package is packaged and if there's something that is done manually regarding the icons. Now 1.0.4 is released, hopefully it can solve it.

[2019-12-08 07:05] kontrollanten commented on #475
Thanks for reporting! Currently I don't have time to fix it, but a PR is welcome. I think it may be fixed by removing `!win.isMaximized()` here https://github.com/protonmail-desktop/application/blob/master/src/main/helpers/window.js#L70

[2019-12-08 19:11] Electron-007 opened #476 "Building from source; general info; basic documentation?"
New to NodeJS. On Fedora 31, after installing nodejs-yarn and rpmdevtools:
     `$ nodejs-yarn run dist`
Attempts to build all possible packages for all possible architectures, which seems a bit much to start off with.

The file 'Protonmail Desktop (unofficial)-1.0.4.AppImage' in the 'dist' folder is then executable and runs after building; nothing needs root privileges, but there is an rpm as wel

[2019-12-08 22:21] kontrollanten commented on #476
The app is, more or less, just the webmail, but without the need to run it as a browser tab. :) You can have a look at https://github.com/vladimiry/ElectronMail for more advanced features.

[2019-12-10 07:40] skyblue002 commented on #453
That was a typo, I apologize. The icon did exist, but the symlink pointed to the wrong location. I had to delete the symlink and create one to the accurate location. It was a while ago since I initially made this report, but I believe the answer lies in the code that I listed for fixing the issue. Specifically this line:
[code]

So, what you quoted should actually read like this:

I checked the pa

[2019-12-10 13:52] kontrollanten commented on #453
Thanks for providing more information! The latest version is 1.0.4, so please ask the package maintainer to ask him to update the version and see if that solves the problem.

[2019-12-10 15:27] skyblue002 commented on #453
Okay. I just flagged the package as outdated and added a note for the maintainer to keep an eye on the line for creating that symlink in the Build file. I'll let you know how it turns out when the new version of the package is released.

[2019-12-11 12:34] albakham commented on #453
I just updated the AUR package, I hope I resolved the problem.

[2019-12-11 12:50] albakham commented on #453
I just updated the AUR package, I hope I resolved the problem.

[2019-12-11 23:58] skyblue002 commented on #453
@albakham I installed the update, and the icon looks fixed. I even restarted the computer just to be sure.

When I checked the `.desktop` file to verify the version of the app, it just said `1.0`, not `1.0.4`. I'm not sure if it's intentional or if there's some restriction in the `.desktop` format, disallowing a second "." But, just in case this was a typo, I wanted to mention it.

[2019-12-11 23:59] #453 closed

[2020-03-08 01:52] brogan89 opened #536 "Reopening program after closing doesn't work (Manjaro)"
I have an issue where if I close the window and try to reopen it nothing will happen. I have to kill all electron processes and protonmail-desktop process and it will open fine through the GUI.

If I try open from terminal using `protonmail-desktop` it returns

[code]

After killing all the processes and running `protonmail-desktop` it opens fine and returns message

[code]

So maybe this is a ele

[2020-03-11 21:22] menaechmi commented on #536
Can confirm the same error on Arch running kernel 5.5.5-5.5.8, as well as on electron 8.1.0-2 and 8.1.1-1.

[2020-03-14 09:54] brogan89 commented on #536
Just installed the snap version on my Ubuntu laptop and everything works as expected. Seems to be related to the the arch and derivatives

[2020-04-03 12:26] thomasd3 opened #539 "printing only prints the first page"
When I try to print an email, only the first page is printed, same for PDF exports, while the preview looks accurate.

The same operation from the website works perfectly, so something is happening in the wrapper.

[2020-05-05 11:58] UltraBlackLinux opened #542 "Cookies seem to delete in BETA"

[2020-05-06 15:18] Syndamia commented on #536
On Linux Mint (Ubuntu based) I have a system tray icon with which I can toggle the app, but if I close it I can only reopen it from that icon, nothing happens if I try to open it from the menu. The same thing happens on my Manjaro pc but there isn't a tray icon with which I can reopen the window.

[2020-07-13 08:49] smuriu commented on #245
Hello,

I have no experience publishing to snap store myself. However, I notice the license indicated in snapcraft is proprietary (while I can see in the repo it is MIT; and of course, I'm writing this in your open source repo). Might have to do with your `SNAPCRAFT_LOGIN_FILE` config for circle ci?

This is not a major issue for me, but other users encountering the snap on snapcraft might be put

[2020-07-28 22:28] kontrollanten commented on #536
Do you guys still have this issue? It sounds to be an issue related to electron, the latest version of protonmail-desktop has a newer version of electron which may work.

[2020-07-28 22:47] kontrollanten commented on #539
I can see the issue as well. But when I try with PM beta it works as expected. If you go to Settings > Use beta, and then restarts the application it should work.

[2020-07-29 12:13] thomasd3 commented on #539
I will try! thanks

[2020-07-30 20:46] brogan89 commented on #536
Hi sorry I haven't been using Manjaro in a while but I booted up a VM right now and everything seems to work as expected. Must've been an electron issue. Thanks :)

[2020-07-30 20:46] #536 closed

[2020-08-10 09:05] LustStarrr opened #619 "Error message when attempting to input password"
Upon attempting to input password, the following error message occurs:

My internet connection is working fine, & the issue appears to be linked to the first keystroke being typed into the password field, rather than when the page is attempting to load, so it doesn't appear to be connection-related, in my opinion. Problem only began occurring after the most recent update.

[2020-08-18 02:20] kontrollanten commented on #619
Thanks for reporting. Sounds like a strange problem, maybe it's related to electron. Which OS are you using? Can you try to clone the repo and run the latest version with `yarn start`?

[2020-08-18 02:24] kontrollanten commented on #542
Maybe @mmso or someone else from the ProtonMail team can why we get outlogged when visiting _Settings_ in beta?

[2020-08-19 22:28] #186 closed

[2020-08-19 22:28] #475 closed

[2020-08-19 22:42] #476 closed

[2020-08-19 22:43] #204 closed

[2020-08-19 22:45] #149 closed

[2020-08-19 22:47] #189 closed

[2020-08-19 22:54] #203 closed

[2020-08-20 16:14] KaKi87 commented on #204
In other words, it's a _wontfix_. Fortunately, [ElectronMail](https://github.com/vladimiry/ElectronMail) has a dark theme that works. :)

[2020-08-21 00:58] VandrerenErik opened #631 "This is actually a request"
The only thing stopping me from using this wonderful app is the lack of my password manager extension. Since this is an electron app it would be nice to have password manager like Bitwarden included. Having to write login in all of my accounts everytime the app repoens is a little bit of a pain. In the browser I have it easy with Bitwarden.

[2020-08-21 07:53] kontrollanten commented on #631
Thanks @VandrerenErik ! I think this is duplicate of #90 I'll close this issue, subscribe to #90 to keep updated.

[2020-08-21 07:53] #631 closed

[2020-08-21 08:10] VandrerenErik commented on #631
Similar but not the same and you looped both issues and closed both of them using the other as excuse...

[2020-08-21 08:22] VandrerenErik commented on #90
Using extensions or not should be at the discretion of the user, citing "security risk" as a reason not to do this is, to be honest, plain stupid. This software is made with web technologies, what security are you speaking about? I can access content from within the app directly from memory in runtime.

Yes, allowing an extension to be installed can facilitate data leaks from the email, but let's

[2020-08-26 14:40] Ferryistaken opened #643 "No desktop notification(Arch Linux)"
I installed the latest version from the AUR, everything works perfectly but I don't receive any notifications. I use notify-osd as my notification server

[2020-08-29 22:22] ivanghi1995 opened #644 "Logs out when doing something on BETA"
Everytime i do something it just logs out, only happens on BET # #

[2020-09-02 11:04] #411 closed

[2020-09-06 20:06] kontrollanten commented on #542
I've digged a bit deeper into this, it seems to be related to that `pagehide` event isn't fired in the webview when the page reloads. https://github.com/ProtonMail/WebClient/blob/0912dff240dde923de91ed8c7d42e7ff3151259d/src/app/commons/services/secureSessionStorage.js#L21

[2020-09-06 20:10] kontrollanten commented on #644
Duplicate of #542

[2020-09-06 20:10] #644 closed

[2020-09-06 20:11] #619 closed

[2020-09-06 20:12] kontrollanten commented on #643
That sounds strange. If you open the application from the terminal and trigger a notification (by sending yourself an email), is there any error in the terminal?

[2020-09-10 09:45] Ferryistaken commented on #643
I rebooted and it started working sorry for the hassle

[2020-09-10 09:45] #643 closed

[2020-09-10 18:42] trev-dev commented on #90
I use Bitwarden, it comes with its own client, separate from my browser. It's much wiser to stick to doing one thing really well.

[2020-09-10 21:19] VandrerenErik commented on #90
So, you are telling me that you only use the electron-based Bitwarden client but not the browser extension? You always copy and paste passwords.... and having the browser extension in the Protonmail desktop app is a bad idea.... because... I don't know you like the Unix philosophy in complex apps that run in a GUI, not a CLI even though the idea of "doing one task and doing it well" was only meant

[2020-09-10 21:22] trev-dev commented on #90
There's really no need to assume so much. I'm simply saying that on the scale of priorities, the highest priority would be a working email client, not browser extensions. So long as your password manager doesn't depend on an extension to actually do its job, it's already got you covered.

[2020-09-10 21:25] VandrerenErik commented on #90
The email client is already working. And I think you did not real my initial comment at all.

[2020-09-10 21:35] trev-dev commented on #90
@VandrerenErik I did! Thanks for sharing an opinion.

[2020-09-10 21:40] VandrerenErik commented on #90
Yep, condescending answer as an attempt to step down a conversation as a "nice/polite guy" who does not want to continue arguing after realising he does not have the grounds to elaborate on his opinion and after realising he spoke in the first place without reading. Cheers

[2020-09-10 22:07] trev-dev commented on #90
I'm not the one being condescending here. I don't know who hurt you, but I hope you feel better soon.

[2020-09-10 22:12] VandrerenErik commented on #90
This is is actually a good comeback. Still, my goal was to tease you into giving an actual answer, or at least make you elaborate on why having extenstion is a "bad idea". Maybe as well, please explain how do you make sense out of your first comment?

[2020-09-10 22:15] trev-dev commented on #90
While I agree it's all a wash to be using an electron wrapper for anything at all, I just don't see how adding support more 3rd party code in a 3rd party app for a secure email service could possibly go well is all - but if we're afraid of copying and pasting anything on our native machines, I honestly don't know how to help here.

[2020-09-10 22:20] VandrerenErik commented on #90
Please note that in my first comment I stated, "to be added externally **or integrated by default within Protonmail-Desktop app**". And yes, not trusting some of my own personal or work computers makes total sense. Let's say I'm for some reason using Windows or macOS, I do not trust these OSes at all, nevertheless I trust third party apps that can and usually read my clipboard... Do you really thi

[2020-09-10 22:24] trev-dev commented on #90
Huh. I guess I did miss that. Not to split hairs or anything, but this sounds more like a feature/enhancement than it does a 3rd party extension :+1:

[2020-09-10 22:25] VandrerenErik commented on #90
Yes, and I actually prefer it like that plus I consider it to be a must have.

[2020-09-25 14:40] skyblue002 opened #678 "Clicking on a notification doesn't bring app window to focus"
When receiving a notification about a new e-mail message, clicking on that notification opens the e-mail in the app, but doesn't bring the app itself into focus. If the app is behind others, it won't be seen. Other apps must be minimized or the ProtonMail app icon must be clicked in order to bring it into focus to see the e-mail that was opened.

  -

  Unofficial desktop client for ProtonMail 1.2

[2020-10-01 07:52] nsrosenqvist opened #683 "Embed and integrate rest of Proton ecosystem"
Would be awesome if the application also embedded the other services available, such as the calendar and the future Proton Drive.

[2020-10-02 08:05] kontrollanten commented on #683
Great idea! It's up for grab for whoever wants to contribute  :+1:

[2020-10-02 08:07] kontrollanten commented on #678
Shit, I thought this was fixed with the latest release. But I'll check it when I get time.

[2020-10-03 03:29] skyblue002 commented on #678
I just ran the app through the Terminal, sent through a test e-mail, and got it to focus on the app when clicking on the notification. I'm not sure why it worked. It didn't work before — and that issue was consistent, even after restarting the app. Is there a way to check through logs or enable verbose mode when running from the Terminal? When I ran the app from the Terminal, it didn't give a lot

[2020-10-05 14:25] kontrollanten commented on #678
Thanks a lot for your help. When I run the app in dev mode it works to click on the notifications. Maybe it only works when the app is started from the terminal?

If you clone the repo and check https://github.com/unofficial-protonmail-desktop/application/blob/master/src/renderer/lib/webview-preload.js#L9 you'll see the code that runs within the mail.protonmail.com-webview. Line 9 sends data to th

[2020-10-06 20:16] skyblue002 commented on #678
I managed to get it to show the app when clicking on a notification and it wasn't running from the Terminal or in dev mode. So, that wouldn't seem to be the issue here.

I'm not even sure how to begin with the code. The only Javascript I've ever done has been web-based.

I programmed a bit of Swift for the MacOS platform, but didn't do anything with notifications. I did do something with higher-le

[2020-11-02 18:06] Vsadygv opened #725 "APPIMAGE env is not defined, current application is not an AppImage"
When i try to run protonmail-desktop, i get the error "APPIMAGE env is not defined, current application is not an AppImage" and it gives me a blank white frame.

[2020-11-02 18:38] kontrollanten commented on #725
That's just a debug message, so it doesn't tell about any error.

What's your OS? How are you running the app?

[2020-11-02 18:46] Vsadygv commented on #725
My OS is arch linux, i attempted to run the app via rofi, which returned blank white screen with no text, so i ran "protonmail-desktop" via CLI and it gives me the same white screen, but also gives that message

[2020-11-03 04:22] kontrollanten commented on #725
Hmm, okay, I'm sorry but I don't have any idea why. You're welcome to download the source code and try to run it from there and see if it helps.

[2020-12-03 12:44] DPeltier opened #755 "Reload a crashed page"
Hi,
Sometime I get (for an unknow reason) the following page 'login page couldn't be loaded due to the following error: CRASHED'.
Clicking on the "RELOAD" button cut the display in 2 pages: one with the login page, and the other one with the same error message.
Attached an image

[2020-12-12 09:12] magicvince opened #764 "personnalize account icon"
The account icon use the first letter of an account. It could be a nice enhancment if we could personnalize the profil icon with colours, emoji or letter of our choice.

[2020-12-12 15:45] kontrollanten commented on #764
Hi! Yes, that could be a great improvement. If you've time to add that feature you're welcome to do a PR :)

[2020-12-18 10:30] magicvince commented on #764
I'm not sure that I'm able to push some kind of code, but I could write a better description of the functionnality.

[2021-01-02 14:16] alexanderadam commented on #57
The [ProtonMail Bridge](https://protonmail.com/default/bridge/) also gives a possibility not having to sign in every time.
It is acting like a local SMTP server.

You also don't have to provide your 2FA credentials again.
Thus `unofficial-protonmail-desktop` is trying to be more secure than Protonmail's own tools here, since the architecture ProtonMail Bridge is also only secure as long the system

[2021-01-16 13:45] joisaac opened #786 "Changing tray icon"
How can I change the tray icon in the panel from this:
![Screenshot_2021-01-16_09-24-53](https://user-images.githubusercontent.com/60485595/104813012-bec5fc80-57dc-11eb-8f83-d0fa4fea0b20.png)
To this ones I have in my icon package
![Screenshot_2021-01-16_09-43-52](https://user-images.githubusercontent.com/60485595/104813420-883db100-57df-11eb-82c4-0da0c19936e4.png)